@model Radyn.Congress.DataStructure.UserRegisterPaymentType
<script type="text/javascript">
    function ChangeDaysInfo() {
        $("#DivDaysInfo").html("");
        var object = $("#AllDays").attr("checked");
        if (object == "checked") {
            $("#DivAmount-Label").show();
            $("#DivAmount-Amount").show();
        } else {

            $("#DivAmount-Label").hide();
            $("#DivAmount-Amount").hide();
            $.get("/Congress/UserRegisterPaymentType/GetDaysInfo", { Id: '@Model.Id', culture: '@ViewBag.culture', date: new Date().getTime() }, function (data) {
                if (data != "false") {
                    $("#DivDaysInfo").html(data).slideDown("slow");;
                }
            });
        }
    }

    $(document).ready(function () {
        var object = $("#DaysInfoModel").val();
        if (object == "")
            $("#AllDays").attr("checked", 'checked');
        ChangeDaysInfo();
    });
</script>
<div>
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Title
            </div>
        </div>
        <div class="table-row-item table-fit">
            <div class="item">
                @Html.EditorFor(x => x.Title)

            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item" id="DivAmount-Label">
                @Resources.Congress.Amount
            </div>
        </div>
        <div class="table-row-item text-drop">
            <div class="item ">
                <div style="float: right; " id="DivAmount-Amount">
                    @Html.TextBoxFor(model => model.ValidAmount, new { })
                </div>
                <div style="float: right; margin-right: 4px">
                    @Html.DropDownListFor(model => model.CurrencyType, (SelectList)ViewBag.Currency)
                </div>
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Capicity
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.TextBoxFor(model => model.Capacity, new {})
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Order
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.TextBoxFor(model => model.Order, new { })
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.BaseCapacity
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.BaseCapacity)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.CanUserSelect
            </div>
        </div>
        <div class="table-row-item drp ">
            <div class="item">
                @Html.RadioButtonFor(model => model.CanUserSelect, true)@Resources.Common.Yes
                @Html.RadioButtonFor(model => model.CanUserSelect, false)@Resources.Common.No

            </div>
        </div>
    </div>
    <div class="item-row" >
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Printable
            </div>
        </div>
        <div class="table-row-item drp">
            <div class="item">
                @Html.RadioButtonFor(model => model.Printable, true)@Resources.Common.Yes
                @Html.RadioButtonFor(model => model.Printable, false)@Resources.Common.No
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.AllDays
            </div>
        </div>
        <div class="table-row-item table-c-fit radio-box">
            <div class="item">
                @Html.CheckBox("AllDays", new { onclick = "ChangeDaysInfo()" })

            </div>
        </div>
    </div>
    <input type="hidden" name="DaysInfo" id="DaysInfo" />
    <input type="hidden" value="@Model.DaysInfo" name="DaysInfoModel" id="DaysInfoModel" />

    <div id="DivDaysInfo"></div>
</div>
