@using Radyn.FileManager
@using Radyn.Web.Mvc;

@model Radyn.Reservation.DataStructure.Hall
<script type="text/javascript">
    function GetViewPhoto() {
        ShowModal("/Reservation/Hall/ShowHallPhoto?Id=" + '@Model.PhotoId');
    }
</script>
@if (Model != null)
{

    @Html.ValidationSummary(true)
 
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Name
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Length
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(model => model.Length)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Width
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(model => model.Width)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Parent
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(model => model.ParentHall.Name)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Common.Enable
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @(Model.Enabled ? Resources.Common.Enable :Resources.Common.Disable)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.HallPhoto
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @if (Model != null && Model.PhotoId.HasValue)
                    {
                        Html.RadynFile().Image().ID(Model.PhotoId.Value).Width(80).Height(80).OtherAttribute(new { style = "cursor: pointer", onclick = "GetViewPhoto()" }).Render();
                    }
                    
                </div>
            </div>
        </div>

}
