@using Radyn.Congress.Tools
@using Radyn.FormGenerator.Tools
@using Radyn.Web.Mvc;
@using Radyn.WebApp.Areas.Congress.Tools
@using Radyn.WebApp.Areas.FormGenerator.Tools
@model Radyn.Congress.DataStructure.UserBooth
@{
    ViewBag.Title = Resources.Common.Create;
    Layout = "~/Areas/Congress/Views/Shared/CongressUserLayout.cshtml";
}
@section Head{
    <script type="text/javascript">
        function GetBooth() {
            ShowPostBackLoader();
            var boothId = document.getElementById("BoothId").value;
            if (boothId != "") {
                $("#DivBooth").html("");
                $.get("@Url.Content("~/Congress/Booth/GetDetail")", { Id: boothId, date: new Date().getTime() }, function (data) {
                    if (data != "false") {
                        $("#DivBooth").html(data).hide();
                        $("#DivBooth").slideDown();

                    }
                    ShowRadynMessage();
                }).complete(function () {
                    HidePostBackLoader();
                    BoothOfficerList();
                });
            }


        }
        function BoothOfficerList() {
            ShowPostBackLoader();
            $("#DivAuthorBoothOfficerList").html("");
            $.get("@Url.Content("~/Congress/Booth/GetBoothOfficerList")", { date: new Date().getTime() }, function(data) {
                $("#DivAuthorBoothOfficerList").html(data).hide();
                $("#DivAuthorBoothOfficerList").slideDown();
                HidePostBackLoader();
            });
        }
        function GenerateDiscount() {
            $("#DivDiscount").html("");
            $.get("@Url.Content("~/Payment/DiscountType/GenerateDiscount")", { model: '@AppExtention.CongressMoudelName', section: '@((byte)Enums.PaymentSection.Booth)', date: new Date().getTime() }, function (data) {
                if (data != "false") {
                    $("#DivDiscount").html(data).hide();
                    $("#DivDiscount").slideDown();
                }

            });

        }

        $(document).ready(function () {
            
            GetBooth();
            GenerateDiscount();
        });
    </script>
}
@section PageTitle
{
    @Resources.Congress.Booth
}
@section PageAction
{
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Congress.SaveAndcontinue).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/UserBoothPanel/IndexBooth")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Congress.SaveAndcontinue).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }

    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/UserBoothPanel/IndexBooth")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@Html.ValidationSummary(true)
<div class="radynForm users-page full-size detail-edit">
    @if (ViewBag.BoothMapId != null)
    {
        <img src="@Radyn.FileManager.FileManagerContants.FileHandlerRoot@ViewBag.BoothMapId" width="98%" />
    }
    <div class="item-input">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Booth
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.DropDownListFor(model => model.BoothId, (SelectList)ViewBag.Booths, new { onchange = "GetBooth();" })

            </div>
        </div>
    </div>
   
    <div id="DivBooth" style="width: 100%"></div>
    <div id="DivAuthorBoothOfficerList" class="fit"></div>
    @{
        Html.FormGenerator(AppExtention.CongressMoudelName + "-/Congress/Booth/Booth", Model.GetType().Name);
    }

    <div id="DivDiscount">
    </div>

</div>



