@using Radyn.Congress.DataStructure
@using Radyn.FileManager
@using Radyn.Utility
@model IEnumerable<Supporter>
@{
    ViewBag.Title = Resources.Congress.Support;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<script type="text/javascript">
    function GetSite(url) {
        if (url != "") {
            var urlregex = new RegExp(
                "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
            if (urlregex.test(url)) {
                window.open("//" + url);
            }

        }
    }

    function Checursor(id, Url2) {

        if (Url2 != "") {
            var urlregex = new RegExp(
                "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
            if (urlregex.test(Url2)) {
                $("#" + "div-" + id).css('cursor', 'pointer');
            } else {
                $("#" + "div-" + id).css('cursor', 'default');
            }
        }
        else {
            $("#" + "div-" + id).css('cursor', 'default');
        }
    }

</script>

@if (ViewBag.Type != null)
{
    
    foreach (var supportType in (IEnumerable<KeyValuePair<string,String>>)ViewBag.Type)
    {

    <div class="container-hd">
        <div class="container-header">
            <div class="container-header-item">
                <span>@supportType.Value t</span>
                @if (Model == null)
                {
                    continue;
                }
            </div>
        </div>

        <div class="container-box">
            <div>
                @foreach (var supporter in Model.Where(x => x.SupportTypeId == supportType.Key.ToShort()))
                {
                    <div  onmouseover=" Checursor('@supporter.Id', '@supporter.WebSite'); " id="div-@supporter.Id"  style="width: 48%; float: right; margin-right: 2%;" >

                        @if (!string.IsNullOrEmpty(supporter.Image))
                        {
                            <img src="/RadynFileHandler/@supporter.Image.ToGuid()" height="100" width="100" style="border: solid 1px grey;" alt="@supporter.Title"  title="@supporter.Title" onclick="GetSite('@supporter.WebSite')" />
                        }

                    </div>
                }
            </div>
        </div>
    </div>

    }
}