@using Radyn.FileManager
@using Radyn.Web.Mvc;
@model Radyn.Congress.DataStructure.VIP

@Html.ValidationSummary(true)
<div class="radynForm">
    @if (Model != null)
    {
        Html.RenderAction("GenerateEnterpriseNodeDetails", "EnterPriseNode", new { area = "EnterpriseNode", state = "Details", id = Model.Id, type = "l", ShowParent = false, ShowPicture = true });
    }
    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.Resume

            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @if (Model != null)
                {
                    if (Model.ResumeFileId.HasValue)
                    {
                        Html.RadynFile().Image().ID(Model.ResumeFileId.Value).Download().Render();
                    }
                }

            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.PresentDate
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.PresentDate)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Role
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.Role, new { })

            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Sort

            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.Sort)
            </div>
        </div>
    </div>
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Subject

            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.Abstract, new { style = "height:50px;" })
            </div>
        </div>
    </div>
    <div class="item-row fit">
        <div class="table-row-cap ">
            <div class="item">
                @Resources.Congress.AbstarctDes

            </div>
        </div>
        <div class="table-row-item table-c-fit ">
            <div class="item">
                @Html.DisplayFor(vip => vip.Remark)
            </div>
        </div>
    </div>
</div>

