@using Radyn.FileManager
@using Radyn.Utility
@using Radyn.Web.Mvc
@using Radyn.Web.Mvc.UI
@model List<Radyn.Slider.DataStructure.SlideItem>
    <section class="events-se">
        <div class="container">
            <h4 class="text-center margin-b-30">
                @Resources.WebDesign.Events
            </h4>
            <div id="owl-events" class="owl-carousel wow fadeIn" data-wow-duration="2000ms" data-wow-delay="150ms" data-wow-offset="100">
                @{

                    if (Model != null)
                    {



                        for (int i = 0; i < Model.Count; i++)
                        {

                            <div class="item item-ev">
                                <div class="thumbnail th-item-ev">
                                    @if (!string.IsNullOrEmpty(Model[i].ImageId))
                                    {
                                        <img src="@(FileManagerContants.FileHandlerRoot + Model[i].ImageId)" />
                                    }
                                  
                                    <div class="caption">
                                        <p>@Model[i].Title</p>

                                    </div>
                                </div>
                                <a href="@(FileManagerContants.FileHandlerRoot + Model[i].ImageId)" class="btn" role="Button">@Resources.WebDesign.Magnify</a>
                            </div>


                        }

                    }

                }



            </div>
        </div>
    </section>


