@using Radyn.Congress.Tools
@using Radyn.FileManager
@using Radyn.Utility
@using Radyn.WebApp.AppCode.Security
@model IEnumerable<Radyn.Congress.DataStructure.Homa>
    @{
        var num = 0;
    }
    @{
        <div class="news-container">
            <div style="display: none">
                <h2 class="widget-title head-event">
                    <span class="mini-head" style="display: none">به روز رسانی اطلاعات</span>
                    <span class="big-head">@ViewBag.ContainerTitle </span>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71px" height="11px">
                            <path fill-rule="evenodd" d="M59.669,10.710 L49.164,3.306 L39.428,10.681 L29.714,3.322 L20.006,10.682 L10.295,3.322 L1.185,10.228 L-0.010,8.578 L10.295,0.765 L20.006,8.125 L29.714,0.765 L39.428,8.125 L49.122,0.781 L59.680,8.223 L69.858,1.192 L70.982,2.895 L59.669,10.710 Z"></path>
                        </svg>
                    </i>
                </h2>
            </div>
            <div class="container-box news-section">
                @foreach (var homa in Model)
                {
                    if (string.IsNullOrWhiteSpace(homa.CongressTitle))
                    {
                        continue;
                    }

                    <div class="news-box element-filter">
                        <div style="position: relative">

                            @if (string.IsNullOrEmpty(homa.InstallPath))
                            {
                                if (string.IsNullOrEmpty(homa.VirtualDirectory))
                                {
                                    <a class="n-img" href="@Url.Content("/Congress/UIPanel/Index?hid=" + homa.Id)" target="_blank">
                                        @{
                                            var miniPosterId = homa.Configuration.GetConfigurationContent().MiniPosterId;
                                            if (miniPosterId != null)
                                            {
                                                <img src="@(FileManagerContants.FileHandlerRoot + miniPosterId)">
                                            }
                                            else
                                            {
                                                <img src="~/Content/Images/img-news.jpg" />
                                            }
                                        }
                                    </a>
                                    <div class="news-box-content">
                                        <a class="n-title" href="@Url.Content("/Congress/UIPanel/Index?hid=" + homa.Id)">
                                            @homa.CongressTitle.Trancate(72)

                                        </a>

                                        <div class="n-lead filter-text">
                                           @homa.Description.Trancate(75)
                                            <a href="@Url.Content("/Congress/UIPanel/Index?hid=" + homa.Id)">@Resources.Congress.Continue</a>
                                        </div>
                                        <div class="n-more">
                                            <div class="date">
                                                @if (homa.StartDate != null && !string.IsNullOrEmpty(homa.StartDate.Trim()))
                                                {
                                                    @homa.StartDate.GetCultureDate(SessionParameters.Culture)
                                                }
                                            </div>
                                        </div>
                                    </div>



                                }
                                else
                                {
                                    <a class="n-img" href="/@homa.VirtualDirectory/Congress/UIPanel/Index?hid=@homa.Id" target="_blank">
                                        

                                        @{
                                            var miniPosterId = homa.Configuration.GetConfigurationContent().MiniPosterId;
                                            if (miniPosterId != null)
                                            {
                                                <img src="@(FileManagerContants.FileHandlerRoot + miniPosterId)">
                                            }
                                            else
                                            {
                                                <img src="~/Content/Images/img-news.jpg" />
                                            }
                                        }

                                    </a>
                                    <div class="news-box-content">
                                        <a class="n-title" href="/@homa.VirtualDirectory/Congress/UIPanel/Index?hid=@homa.Id">
                                            @homa.CongressTitle.Trancate(72)

                                        </a>
                                        <div class="n-lead filter-text">
                                            @homa.Description.Trancate(75)
                                            <a href="/@homa.VirtualDirectory/Congress/UIPanel/Index?hid=@homa.Id">@Resources.Congress.Continue</a>
                                        </div>
                                        <div class="n-more">
                                            <div class="date">
                                                @if (homa.StartDate != null && !string.IsNullOrEmpty(homa.StartDate.Trim()))
                                                {
                                                    @homa.StartDate.GetCultureDate(SessionParameters.Culture)
                                                }
                                            </div>
                                        </div>
                                    </div>

                                }

                            }
                            else
                            {
                                if (string.IsNullOrEmpty(homa.VirtualDirectory))
                                {
                                    <a class="n-img" href="http://@Radyn.Utility.StringUtils.Decrypt(homa.InstallPath)/Congress/UIPanel/Index" target="_blank">
                                       

                                        @{
                                            var miniPosterId = homa.Configuration.GetConfigurationContent().MiniPosterId;
                                            if (miniPosterId != null)
                                            {
                                                <img src="@(FileManagerContants.FileHandlerRoot + miniPosterId)">
                                            }
                                            else
                                            {
                                                <img src="~/Content/Images/img-news.jpg" />
                                            }
                                        }

                                    </a>
                                    <div class="news-box-content">
                                        <a class="n-title" href="http://@Radyn.Utility.StringUtils.Decrypt(homa.InstallPath)/Congress/UIPanel/Index">
                                            @homa.CongressTitle.Trancate(72)

                                        </a>
                                        <div class="n-lead filter-text">
                                            @homa.Description.Trancate(75)
                                            <a href="http://@Radyn.Utility.StringUtils.Decrypt(homa.InstallPath)/Congress/UIPanel/Index">@Resources.Congress.Continue</a>
                                        </div>
                                        <div class="n-more">
                                            <div class="date">
                                                @if (homa.StartDate != null && !string.IsNullOrEmpty(homa.StartDate.Trim()))
                                                {
                                                    @homa.StartDate.GetCultureDate(SessionParameters.Culture)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <a class="n-img" href="http://@Radyn.Utility.StringUtils.Decrypt(homa.InstallPath)/@homa.VirtualDirectory/Congress/UIPanel/Index" target="_blank">
                                        

                                        @{
                                            var miniPosterId = homa.Configuration.GetConfigurationContent().MiniPosterId;
                                            if (miniPosterId != null)
                                            {
                                                <img src="@(FileManagerContants.FileHandlerRoot + miniPosterId)">
                                            }
                                            else
                                            {
                                                <img src="~/Content/Images/img-news.jpg" />
                                            }
                                        }

                                    </a>
                                    <div class="news-box-content">
                                        <a class="n-title" href="http://@Radyn.Utility.StringUtils.Decrypt(homa.InstallPath)/@homa.VirtualDirectory/Congress/UIPanel/Index">
                                            @homa.CongressTitle.Trancate(72)

                                        </a>
                                        <div class="n-lead filter-text">
                                            @homa.Description.Trancate(75)
                                            <a href="http://@Radyn.Utility.StringUtils.Decrypt(homa.InstallPath)/@homa.VirtualDirectory/Congress/UIPanel/Index">@Resources.Congress.Continue</a>
                                        </div>
                                        <div class="n-more">
                                            <div class="date">
                                                @if (homa.StartDate != null && !string.IsNullOrEmpty(homa.StartDate.Trim()))
                                                {
                                                    @homa.StartDate.GetCultureDate(SessionParameters.Culture)
                                                }
                                            </div>
                                        </div>
                                    </div>

                                }
                            }

                           
                        </div>
                    </div>


                }

            </div>
        </div>
    }

