@using Radyn.FileManager
@using Radyn.News.Tools
@using Radyn.Utility
@using Radyn.WebApp.AppCode.Security
@model IEnumerable<Radyn.News.DataStructure.News>

    @{
        var num = 0;
    }

    @{
        <div class="news-container">
            <div style="display: none">
                <h2 class="widget-title head-event">
                    <span class="mini-head" style="display: none">به روز رسانی اطلاعات</span>
                    <span class="big-head">@Resources.Congress.CongressNews </span>
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71px" height="11px">
                            <path fill-rule="evenodd" d="M59.669,10.710 L49.164,3.306 L39.428,10.681 L29.714,3.322 L20.006,10.682 L10.295,3.322 L1.185,10.228 L-0.010,8.578 L10.295,0.765 L20.006,8.125 L29.714,0.765 L39.428,8.125 L49.122,0.781 L59.680,8.223 L69.858,1.192 L70.982,2.895 L59.669,10.710 Z"></path>
                        </svg>
                    </i>
                </h2>
            </div>
            <div class="container-box news-section">


                @foreach (var variable in Model)
                {
                    if (string.IsNullOrWhiteSpace(@variable.NewsContent.Title1))
                    {
                        continue;
                    }

                    <div class="news-box element-filter">
                        <div style="position: relative">
                            <a class="n-img" href="@Url.Content("~/WebDesign/UIPanel/WebDesignNewsView?id=" + variable.Id)">
                                @if (variable.ThumbnailId.HasValue)
                                {
                                    Html.RadynFile().Image().ID((Guid) variable.ThumbnailId).Render();
                                }
                                else
                                {
                                    <img src="~/Content/Images/img-news.jpg"/>
                                }
                            </a>
                            <div class="news-box-content">
                                <a class="n-title" href="@Url.Content("~/WebDesign/UIPanel/WebDesignNewsView?id=" + variable.Id)">
                                    @variable.NewsContent.Title1.Trancate(72)

                                </a>
                                <div class="n-lead filter-text">
                                    @variable.NewsContent.Lead.Trancate(75)
                                    <a href="@Url.Content("~/WebDesign/UIPanel/WebDesignNewsView?id=" + variable.Id)">@Resources.Congress.Continue</a>
                                </div>
                                <div class="n-more">
                                    <div class="date">
                                        @if (variable.PublishDate != null && !string.IsNullOrEmpty(variable.PublishDate.Trim()))
                                        {
                                            @variable.PublishDate.GetCultureDate(SessionParameters.Culture)
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    num++;
                }
                @if (num > 0)
                {
                    <div class="archive-link">
                        <a href="@Url.Content("~/WebDesign/UIPanel/WebSiteNewsList")">@Resources.Congress.CongressArchiveNews</a>
                    </div>
                }
            </div>
        </div>
    }

