@using Radyn.Web.Mvc;

@model IEnumerable<Radyn.Congress.DataStructure.Article>
    @{
        ViewBag.Title = "نظر سنجی در مورد مقالات";
        Layout = "~/Views/Shared/User_Layout.cshtml";
    }
    @section Head{

        <link href="~/App_Themes/HomaBase/CSS/article-style.css" rel="stylesheet" />
        <script>
        $(function () {
            GetLikeCount();
            PrepareComments();
            $('.article-abstract > i').on('click', function () {
                var el = this.parentNode.children[0];
                if (el.classList.contains("show-article")) {
                    el.classList.remove("show-article");
                    this.parentNode.children[1].innerHTML = " نمایش";
                } else {
                    el.classList.add("show-article");
                    this.parentNode.children[1].innerHTML = " بستن";
                }
            });

            $('.comment-box > i').on('click', function () {
                var el = this.parentNode.children[0];
                if (el.classList.contains("show-article")) {
                    el.classList.remove("show-article");
                    this.parentNode.children[1].innerHTML = " مشاهده همه نظرات ";
                } else {
                    el.classList.add("show-article");
                    this.parentNode.children[1].innerHTML = " بستن ";
                }
            })

        })


        function GetLikeCount() {
            $('i[name="like"]').each(function () {
                getSingleLike(this.id);
            })
        }

        function getSingleLike(id) {
            $.get('/Congress/ArticleUserComment/GetLikes', { articleId: id }, function (data) {
                var element = document.getElementById(id);

                $('span[data-id="' + id + '"]').text(data.Count);
                if (data.Like) {
                    element.classList.add("fas");
                    element.classList.remove("fal");
                } else {
                    element.classList.add("fal");
                    element.classList.remove("fas");

                }

            })
        }
        function CheckLike(el) {
            $.get('/Congress/ArticleUserComment/SetLike', { articleId: el }, function (data) {
                if (data != "false") {
                    getSingleLike(el);
                }
                ShowRadynMessage();
            })
            }



        function SetComment(id) {
          ShowModal("@Url.Content("~/Congress/ArticleUserComment/SetComment?articleId=")" + id);

        }

        function PrepareComments() {
            $('div[id*="allcomments-"]').each(function () {
                var id = this.id.split('allcomments-')[1];
                UpdateArticleComment(id);
            })
        }

        function UpdateArticleComment(id) {
            $.get('/Congress/ArticleUserComment/GetComments', { articleId: id }, function (data) {
                $('#allcomments-' + id).html('');
                $('#allcomments-' + id).html(data);

            })
        }
        </script>
    }

    <div class="container-article ">
        @{
            foreach (var item in Model)
            {

                <div class="row">
                        <div class="article-co-box">
                            <div class="article-title">
                                <h2>@item.Title</h2>
                            </div>
                            <div class="article-abstract">
                                <span>
                                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Abstract))
                                </span>
                                <i class="view-more">@Resources.Common.View </i>
                            </div>
                            <div class="comment-controls">
                                <div class="controls">
                                    <i class="fal fa-heart" name="like" id="@item.Id" aria-hidden="true" onclick="CheckLike('@item.Id')"></i>
                                    <i class="fal fa-paper-plane" aria-hidden="true" onclick="SetComment('@item.Id')"></i>

                                </div>
                                <div class="like-counter">

                                    <span class="likes" data-id="@item.Id"> 0 </span>
                                    <span>پسند</span>
                                </div>
                            </div>

                            <div class="comment-box">
                                <div class="default-comment" id="allcomments-@item.Id">
                                </div>
                                <i class="view-more">
                                    @Resources.Congress.ViewAllComment
                                </i>
                            </div>
                    </div>
                </div>

            }
        }

    </div>
