@using Radyn.Web.Mvc;
@model Radyn.Congress.DataStructure.ArticleUserComment

<script type="text/javascript">
    function SendComment() {
        if (confirm('آیا از ارسال نظر اطمینان دارید؟')) {
            RadynPostForm("@Url.Content("~/Congress/ArticleUserComment/SetComment")",
                "@Url.Content("~/Congress/ArticleUserComment/SetComment")",
                function(data) {
                    if (data != "false") {
                        Close_thisModal();
                    }
                    RefreshCaptcha();
                });
        }
       
    }

</script>

@using (Html.BeginForm())
{


    <div class="radynForm users-page">
        <div class="item-row ">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Congress.Name
                </div>
            </div>
            <div class="table-row-item table-fit">
                <div class="item">
                    @Html.TextBoxFor(model => model.Name)
                </div>
            </div>

        </div>
        @Html.Hidden("ArticleId", (Guid)Model.ArticleId)

        <div class="item-row fit">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Congress.CommentUser
                </div>
            </div>
            <div class="table-row-item table-fit">
                <div class="item">
                    @Html.TextAreaFor(model => model.Description)
                </div>
            </div>

        </div>

        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    کد امنیتی
                </div>
            </div>
            <div class="table-row-item captcha-control">
                @{ Html.Radyn().Captcha().NumberMode().Render(); }
                <input type="text" name="captch" />
            </div>
        </div>

    </div>
    <div class="button-row">
        <div class="button-div m-btn waves-blue i-send">
            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.Send).Align(ImageActionLink.Alignment.Left).OtherAttribute(new { onclick = "SendComment()" }).Render(); }
        </div> <div class="button-div m-btn waves-red i-return">
            <a onclick="Close_thisModal();">بازگشت</a>
            <span></span>
        </div>

    </div>

}