@using Radyn.Web.Mvc
@using Radyn.WebApp.AppCode.Security
@model Radyn.Security.Tools.LoginViewModel
@{
    ViewBag.Title = Resources.Common.LogIn + " " + Resources.Common.Administrator;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

@section Head{
    <script>
        if (window.location.pathname != undefined && window.location.pathname.toLowerCase() != "/security/user/login")
            window.location = "/Security/User/Login";
    </script>
}

<div class="container-hd">

    <div class="container-box">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div align="center">
                <font color="red">@ViewBag.Message</font>
            </div>

            <div class="login-container-bg">
                <div class="login-container">
                    <h4>
                        حساب من
                    </h4>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="login-header">
                            <p>@Resources.Common.LogIn @Resources.Common.Administrator</p>
                        </div>
                        <div class="login-main">
                            <span class="login-avatar">
                                <img src="/Content/Images/avatar-001.jpg" />
                            </span>
                            <div class="login-data-row input-row">
                                <div class="login-data-row-item">
                                    <label>
                                        @Resources.Security.UserUsername
                                        <small>*</small>
                                    </label>
                                   
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Resources.Security.UserUsername, autocomplete ="off" })
                                    @{ Html.Radyn().Validator().ID("username").GroupName("g1").Render(); }
                                </div>
                            </div>
                            <div class="login-data-row input-row">
                                <div class="login-data-row-item">
                                    <label>
                                        @Resources.Security.UserPassword
                                        <small>*</small>
                                    </label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Resources.Security.UserPassword })
                                    @{ Html.Radyn().Validator().ID("Password").GroupName("g1").Render(); }
                                </div>
                            </div>
                            @if (SessionParameters.HasLoginPasswordError)
                            {
                                <div class="login-data-row input-row">
                                    <div class="login-data-row-item">
                                        <div>
                                            <label>
                                                کد امنیتی
                                            </label>
                                            <div class="captcha-control">
                                                @{ Html.Radyn().Captcha().NumberMode().Render(); }
                                            </div>
                                            @Html.TextBoxFor(m => m.Captch, new {  placeholder = Resources.Congress.Captcha,maxlength="5" })
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="login-data-row">
                                <div class="login-data-row-item">
                                    @{ Html.Radyn().ButtonActionLink().Submit().ValidationGroup("g1").ID("button-yellow").Text(Resources.Common.LogIn).Render(); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<br />
@Html.ValidationSummary(true)
<br />