@using Radyn.FileManager
@model IEnumerable<dynamic>
    <script type="text/javascript">
    function ExpandGroup(groupId) {
        var val = $("#Group-" + groupId).attr("opid");
        $.get("@Url.Content("~/Security/User/GetOperationMenuByGroup")",
            { operationId: val, groupId: groupId, id: new Date().getTime() },
            function(data) {
                if (data != "") {
//                    $("#navg-" + groupId).hide();
                    $("#navg-" + groupId).html(data);
//                    $("#navg-" + groupId).hide();
//                    $("#navg-" + groupId).slideDown(800);
                } else {
                    ShowRadynMessage();
                }
            });
    }

    function GetGroupNull() {

        $.get("@Url.Content("~/Security/User/GetOperationMenuNoGroup")",
            { operationId: '@ViewBag.OpId', id: new Date().getTime() },
            function(data) {
                if (data != "") {
                    $("#DivMenuWithoutGroup").html(data);
                } else {
                    ShowRadynMessage();
                }
            });
    }

//    $(document).ready(function () {
//        var dropdown = $(".list-nav").children(".dropdown-li");
//
//        GetGroupNull();
//        $("[id^='Group-']").unbind('click');
//        $("[id^='Group-']").click(function(e) {
//            //stop run other function
//            e.stopImmediatePropagation();
//            var id = $(this).attr("id").replace("Group-", "");
//            ExpandGroup(id);
//            if ($('#navg-' + id).is(":hidden")) {
//
//            }
//
//        });


//    });


    function GetMenuGroup(Id) {
        if (Id != undefined) {
//            debugger;
            var elementSelected = $("#navg-" + Id);
            if ($("#Group-" + Id).hasClass("active")) {
                $("#Group-" + Id).removeClass("active");
                elementSelected.slideUp();

            } else {
                $("#Group-" + Id).addClass("active");
                elementSelected.slideToggle();
                ExpandGroup(Id);
            }
        }

    }
    function el(id) {
        var parent = $(id).children(".dropdown-li");
        if (parent.children().length >= 1) {
            parent.slideToggle(function() {
            });
        }
    }



    </script>
    @foreach (var menuGroup in Model)
    {
        <ul class="nav-operation2">
            <li id='Group-@menuGroup.Id' opid="@menuGroup.OperationId" class="list-nav main-nav has-child  ">
                <a class="dropdown-btn" onclick="GetMenuGroup('@menuGroup.Id')">
                    <div class="img-nav">
                        @if (menuGroup.ImageId != null)
                        {
                            Html.RadynFile().Image().ID((Guid)menuGroup.ImageId).Render();
                        }
                        else
                        {
                            <img />
                        }
                    </div>
                    <span>
                        @menuGroup.Name
                    </span>
                </a>
                <ul id="navg-@menuGroup.Id" opid="@menuGroup.OperationId" class="dropdown-li" style="display: none; overflow: hidden; float: right; width: 100%">
                    <li style="float: right; width: 100%">
                        <ul style="display: block !important; overflow: visible !important; float: right; width: 100%"></ul>
                    </li>
                </ul>


            </li>
        </ul>
    }
    <div id="DivMenuWithoutGroup">

    </div>
