@using Radyn.FileManager
@model IEnumerable<Radyn.Security.DataStructure.Operation>
    <script type="text/javascript">
    function Expand(operationid) {
        $.get("@Url.Content("~/Security/User/GetOperationMenu")",
            { operationId: operationid, id: new Date().getTime() },
            function(data) {
                if (data != "") {
                    $("#nav-" + operationid).html(data);
                } else {
                    ShowRadynMessage();
                }
            });
    }

    function GetOPMenuList(Id) {

        if (Id != undefined) {
            var elementSelected = $("#nav-" + Id);
            if ($("#operation-" + Id).hasClass("active")) {
                $("#operation-" + Id).removeClass("active");
                elementSelected.slideUp();
            } else {
                $("#operation-" + Id).addClass("active");
                elementSelected.slideDown();
                Expand(Id);
            }
        }

    }
    </script>

    <style>
        .header, h3 {
            font-size: 13px !important;
            font-family: Vazir !important;
        }

            .header table {
                border-spacing: 0px !important;
                border-collapse: inherit !important;
            }

        h3 {
            font-weight: bold !important;
        }

        .child-pane, .child-pane a:hover, .child-pane a:focus, .child-pane a {
            color: #fff !important;
            outline: none !important;
            text-decoration: none !important;
            font-size: 11px !important;
            font-family: Vazir !important;
            font-weight: 500;
        }

        .child-pane {
            font-weight: 500;
        }

        .radynbar-menu, .radynbar-menu a, .radynbar-menu a:hover, .radynbar-menu a:focus {
            color: #3f4d66;
            font-weight: 500;
            text-decoration: none;
        }
    </style>

    <div class="head-items-nav logonav">
        <ul class="list-nav">
            <li>
                <a>
                    <div class="img-nav">
                        <img src="/Areas/Congress/Content/Images/homa-icon.png" />
                    </div>
                    <span>@Resources.Common.Conferencingsoft</span>
                </a>
            </li>
        </ul>

    </div>
    <div class="r-collapse head-navigation-menu ">
        <ul class="menu-fix-child">
            <li>
                <input type="button" class="icon-nav icon-close" name="name" />
                <span class="icon-nav">&#10095;</span>
            </li>
        </ul>
    </div>
    <ul class="nav-operation">
        @foreach (var operation in Model)
        {
            <li id='operation-@operation.Id' class="list-nav main-nav has-child ">
                <a class="dropdown-btn" onclick="GetOPMenuList('@operation.Id')">
                    <div class="img-nav">

                        @if (operation.LogoId.HasValue)
                        {
                            Html.RadynFile().Image().ID(operation.LogoId.Value).Render();
                        }
                        else
                        {
                            <img />
                        }
                    </div>
                    <span>@operation.Title</span>

                </a>

                <ul class="dropdown-li" id="nav-@operation.Id" style="display: none"></ul>


            </li>
            if (!operation.Expand)
            {
                continue;
            }
            <script type="text/javascript">
            Expand('@operation.Id');
            </script>
        }
    </ul>
