@using Radyn.Utility
@using Radyn.Web.Mvc;
@model Radyn.Security.DataStructure.User
@using Radyn.FileManager
@using Radyn.Web.Mvc.Utility
<script type="text/javascript">
    $.get("@Url.Content("/EnterpriseNode/EnterpriseNode/GenerateRealInfo")", { state: '@ViewBag.State', id: '@Model.Id', r: new Date().getTime() }, function (data) {
        $("#Info").html(data).slideDown("slow");;
    });
</script>
<input type="hidden" value="@Model.Id" name="Id" id="Id" />
@Html.ValidationSummary(true)
<div class="radynForm">
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Security.UserUsername

            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.EditorFor(model => model.Username)

            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Security.UserPassword

            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.PasswordFor(model => model.Password)

            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
              تکرار رمز

            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.Password("RepeatPassword")

            </div>
        </div>
    </div>


   

    <div id="Info" class="full-div">
    </div>

    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.EnterPriseNode.Photo
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Resources.EnterPriseNode.MaxFileLength (200KB)
                @{
                    Html.RadynAction("FileUploader", "FileUpload", new { area = "FileManager", fileName = "Image", filePropName= "PictureId" });

                }
                @if (Model != null)
                {
                    if (Model.EnterpriseNode.PictureId.HasValue)
                    {
                        Html.RadynFile().Image().ID(Model.EnterpriseNode.PictureId.Value).DeleteButtonVisible("PictureId").Height(70).Width(70).Render();
                    }
                }
            </div>
        </div>
    </div>

    


</div>
