@using Radyn.Congress.DataStructure
@using Radyn.FormGenerator.Tools
@using Radyn.Web.Mvc;
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.Congress.Tools
@using Radyn.WebApp.Areas.FormGenerator.Tools
@model Radyn.Congress.DataStructure.Hotel
@{
    ViewBag.Title = Resources.Common.Detail;
    Layout = "~/Areas/Congress/Views/Shared/CongressUserLayout.cshtml";
}
@section Head{

}
@section PageTitle
{
    @Resources.Common.Detail

}
@section PageAction 
{

    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/UserHotelPanel/IndexHotel")).Text(@Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>
}
@section PageActionDown
{

    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/UserHotelPanel/IndexHotel")).Text(@Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@Html.ValidationSummary(true)
<div class="radynForm">
    <div>
        @Html.Hidden("Id", (object)ViewBag.Id)
    </div>
    @{
        Html.RenderAction("GetDetail", "Hotel", new { area = "Congress", Id = ViewBag.Id });
    }
    @{
        Html.FormGenerator(AppExtention.CongressMoudelName + "-/Congress/Hotel/Hotel", new HotelUser().GetType().Name, SessionParameters.CongressUser.Id + "," + (Guid)ViewBag.Id, FormState.DetailsMode);
    }
    @{
        Html.RenderAction("GetChildReserve", "UserHotelPanel", new { area = "Congress", hotelId = ViewBag.Id });
    }

</div>


