@using Radyn.Congress.Tools
@using Radyn.Utility
@model Radyn.Congress.DataStructure.SupportType
@Html.ValidationSummary(true)
<div class="radynForm">
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Title

            </div>
        </div>
        <div class="table-row-item table-c-fit ">
            <div class="item">
                @Html.DisplayFor(x => x.Title)

            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.ShowType
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @(((Enums.SupporterShowType)Model.ShowType).GetDescriptionInLocalization())
            </div>
        </div>
    </div>
</div>
