@using Radyn.Utility
@using Radyn.Web.Mvc
@model Radyn.EnterpriseNode.DataStructure.EnterpriseNode
@{
    ViewBag.Title = @Resources.Common.Detail;
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
@section Head{}
<h2>
    @Resources.Common.Detail</h2>
<div>
    <table>
        <tr>
            <td>
                @{Html.Radyn().ImageActionLink().ActionName("Edit", new { id = Model.Id }).ControllerName("EnterPriseNode").Area("EnterPriseNode").Text(@Resources.Common.Edit).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/edit.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
            <td>
            </td>
            <td>
                |
            </td>
            <td>@{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("EnterPriseNode").Area("EnterPriseNode").Text(@Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
            </td>
        </tr>
    </table>
</div>
    @{Html.RenderAction("GenerateEnterpriseNodeDetails","EnterPriseNode",new{area="EnterpriseNode",state="Details",id=Model.Id,type=Model.EnterpriseNodeTypeId});}
<div>
    <table>
        <tr>
            <td>
            <td>@{Html.Radyn().ImageActionLink().ActionName("Edit", new { id = Model.Id }).ControllerName("EnterPriseNode").Area("EnterPriseNode").Text(@Resources.Common.Edit).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/edit.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
            </td>
            <td>
                |
            </td>
            <td>@{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("EnterPriseNode").Area("EnterPriseNode").Text(@Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
            </td>
        </tr>
    </table>
</div>
