@using Radyn.Utility
@using Radyn.Web.Mvc;
@using Radyn.WebApp.Areas.Common.Component
@model Radyn.Congress.DataStructure.ArticlePaymentType


@Html.ValidationSummary(true)
<div class="radynForm">
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Title
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(x => x.Title)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Amount
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Model.ValidAmount.ToDecimal().ToString("n0")  @(Model.CurrencyType.ToEnum<Radyn.Common.Definition.Enums.CurrencyType>().GetDescriptionInLocalization())
            </div>

        </div>
    </div>
</div>

