@model Radyn.Congress.DataStructure.ArticlePaymentType
@Html.ValidationSummary(true)
<div>
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Title
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.EditorFor(x => x.Title)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Amount
            </div>
        </div>
        <div class="table-row-item text-drop">
            <div class="item">
                <div style="float: right;">
                    @Html.EditorFor(model => model.ValidAmount)
                </div>
                <div style="float: right; margin-right: 4px">
                    @Html.DropDownListFor(model => model.CurrencyType, (SelectList)ViewBag.Currency)
                </div>
            </div>
        </div>
    </div>
</div>

