@using System.Web
@using Radyn.FileManager
@using Radyn.Utility

@using Radyn.Web.Mvc
@model Dictionary<Radyn.FileManager.DataStructure.File, bool>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DivPathFolder").hide();
        });
        function GetPath(id, status , el) {
            var path = '';
            $("#DivPathFolder").show();
            if (status === 'path') {
                $("#path").val('@Resources.FileManager.Path');
                path = 'http://' + '@HttpContext.Current.Request.Url.Authority' + '@Radyn.Web.Mvc.UI.Application.CurrentApplicationPath' + '@FileManagerContants.FileHandlerRoot' + id;
                $("#pathdownload").val(path);

                $("#pathdownload").val(path).select();
                document.execCommand("copy");
                $(el).children().children().text("کپی شد");
            }
            if (status === 'download') {
                $("#path").val('@Resources.FileManager.DownloadPath');
                path = 'http://' + '@HttpContext.Current.Request.Url.Authority' + '@Radyn.Web.Mvc.UI.Application.CurrentApplicationPath' + '@FileManagerContants.FileHandlerRoot' +
                    id +
                    '?dl=true';
                $("#pathdownload").val(path);

                $("#pathdownload").val(path).select();
                document.execCommand("copy");
                $(el).children().children().text("کپی شد");
            }

        }



        function DeleteFile(id) {
            if (confirm('@Resources.Common.Are_You_Soure_For_Delete')) {
                $.get("@Url.Content("~/FileManager/Folder/DeleteFile")",
                    { Id: id, date: new Date().getTime() },
                    function(data) {
                        if (data != "false") {
                            GetFiles('@ViewBag.FolderId');
                    }
                    ShowRadynMessage();
                });
            }

        }




            $('.clipboard').hover(function () {
                },
                function () {
                    $(this).children().children().text("برای کپی کلیک کنید  ");
                });
        function ClearPath() {
            $("#DivPathFolder").hide();
        }
    </script>

    <div class="gv-table fit">
        <div class="gv-row gv-header">
            <div class="gv-cell" style="width: 30%">
                <div class="cell-item">
                    @Resources.FileManager.File
                </div>
            </div>
            <div class="gv-cell width18percent">
                <div class="cell-item">
                    @Resources.FileManager.SavaDate
                </div>
            </div>
            <div class="gv-cell  width18percent">
                <div class="cell-item">
                    @Resources.Congress.CanUserViewFile
                </div>
            </div>
            <div class="gv-cell gv-cell-last width30percent">
                <div class="cell-item">
                </div>
            </div>
        </div>
        <div class="gv-content">
            @{
                int count = 0;
                foreach (var valuePair in Model)
                {
                    count++;
                    var i = count % 2;
                    <div class="@(i == 0 ? "gv-row gv-row-style" : "gv-row gv-row-style gv-row-style-alt")">
                        <div style="text-align: center; width: 30%" class="gv-cell">
                            <div class="cell-item">
                                <a style="cursor: pointer" href="@(FileManagerContants.FileHandlerRoot + valuePair.Key.Id+"/"+DateTime.Now.Ticks + "?dl=true")">@valuePair.Key.FullName</a>
                            </div>
                        </div>
                        <div class="gv-cell width18percent">
                            <div class="cell-item">
                                @valuePair.Key.SaveDate.ShamsiDate()
                            </div>
                        </div>
                        <div class="gv-cell width18percent">
                            <div class="cell-item">
                                @(valuePair.Value ? Resources.Common.Yes : Resources.Common.No)
                            </div>
                        </div>
                        <div class="gv-cell gv-cell-last width30percent">
                            <div class="cell-item">
                                <a style="cursor: pointer" onclick="GetFilesModal('@valuePair.Key.Id','@ViewBag.FolderId')">@Resources.Common.Edit</a> |
                                <a style="cursor: pointer" onclick="DeleteFile('@valuePair.Key.Id')">@Resources.Common.Delete</a>|

                                <a class="tooltip-btn clipboard" style="cursor: pointer" onclick="GetPath('@valuePair.Key.Id','path' ,this)">
                                    @Resources.FileManager.Path
                                    <div class="tooltip-content"><span> برای کپی کلیک کنید  </span> </div>
                                </a> |
                                <a class="tooltip-btn clipboard" style="cursor: pointer" onclick="GetPath('@valuePair.Key.Id','download' , this);">
                                    @Resources.FileManager.DownloadPath

                                    <div class="tooltip-content"><span> برای کپی کلیک کنید  </span> </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="gv-row  gv-footer" style="height: 25px">
            <div id="DivPathFolder">
                <div class="col-md-3 divpathfolder-title">
                    <input type="text" id="path" style="" />

                </div>
                <div class="divpathfolder-content">
                    <input type="text" id="pathdownload" />
                    <img src="~/App_Themes/icon-delete.png" width="20" height="20" onclick="ClearPath();" />
                </div>
            </div>
        </div>

    </div>
