@using Radyn.Utility
@model Radyn.Congress.DataStructure.Hotel

    <div class="item-input">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Name

            </div>
        </div>
        <div class="table-row-item readonly">
            <div class="item">
                @Html.DisplayFor(m => m.Name)

            </div>
        </div>
    </div>
    <div class="item-input">

        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Cost

            </div>
        </div>
        <div class="table-row-item readonly">
            <div class="item">
                @Model.ValidCost.ToDecimal().ToString("n0") @(Model.CurrencyType.ToEnum<Radyn.Common.Definition.Enums.CurrencyType>().GetDescriptionInLocalization())

            </div>
        </div>
    </div>
    <div class="item-input">

        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Capacity
            </div>
        </div>
        <div class="table-row-item readonly">
            <div class="item">
                @Model.Capacity
            </div>
        </div>
    </div>
    <div class="item-input">

        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.FreeCapicity
            </div>
        </div>
        <div class="table-row-item readonly">
            <div class="item">
                @Model.FreeCapicity
            </div>
        </div>
    </div>
    <div class="item-input">

        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Address
            </div>
        </div>
        <div class="table-row-item readonly">
            <div class="item">
                @Html.DisplayFor(model => model.Address, new { })
            </div>
        </div>
    </div>
    <div class="item-input">

        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Remark
            </div>
        </div>
        <div class="table-row-item readonly">
            <div class="item">
                @Html.DisplayFor(model => model.Remark, new { })
            </div>
        </div>
    </div>


