@model Radyn.Congress.DataStructure.Hotel
@Html.ValidationSummary(true)
<div class="fit" >
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Name
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                 @Html.EditorFor(m => m.Name)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Cost
            </div>
        </div>
        <div class="table-row-item text-drop">
            <div class="item">
                <div style="float: right;">
                    @Html.EditorFor(model => model.ValidCost)
                </div>
                <div style="float: right; margin-right: 4px">
                    @Html.DropDownListFor(model => model.CurrencyType, (SelectList)ViewBag.Currency)
                </div>
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Capacity
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.EditorFor(model => model.Capacity)
            </div>
        </div>
    </div>
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Address

            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.TextBoxFor(model => model.Address, new { })
            </div>
        </div>
    </div>
    <div class="item-row fir">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Remark
            </div>
        </div>
        <div class="table-row-item  ">
            <div class="item">
                @Html.TextBoxFor(model => model.Remark, new { })
            </div>
        </div>
    </div>
</div>
