@using Radyn.FileManager
@using Radyn.Web.Mvc;
@using Radyn.WebApp.Areas.Common.Component

@model Radyn.Congress.DataStructure.WorkShop
<script type="text/javascript">
    $(document).ready(function () {
        $.get("@Url.Content("~/Congress/Teacher/GetTeachers")", { workShopId: '@Model.Id', Data: new Date().getTime() }, function (data) {
            $("#DivTeachers").html(data);
            $("#DivTeachers").slideDown();
        });
    });

</script>

<div class="fit">
    <input type="hidden" value="@Model.Id" name="Id" id="Id"/>
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Subject

            </div>
        </div>
        <div class="table-row-item ">
            <div class="item">
                @Html.EditorFor(model => model.Subject)
            </div>
        </div>
    </div>

    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Cost

            </div>
        </div>
        <div class="table-row-item text-drop">
            <div class="item">
                <div style="float: right">
                    @Html.EditorFor(model => model.ValidCost)
                </div>
                <div style="float: right;margin-right: 4px">
                    @Html.DropDownListFor(model => model.CurrencyType, (SelectList)ViewBag.Currency)
                </div>

            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Capacity
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.EditorFor(model => model.Capacity)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.Attachment  @Resources.Congress.Program
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @{
                    Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "ProgramAttachId", fileid = Model.ProgramAttachId, fileName = "ProgramFile" });

                }

                
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.Attachment  @Resources.Congress.File
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @{
                    Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "FileAttachId", fileid = Model.FileAttachId, fileName = "File" });

                }
                
            </div>
        </div>
    </div>
    <div id="DivTeachers" class="fit"></div>
    <div class="fit item-input">
        <div class="table-row-cap table-c-auto">
            <div class="item">
                @Resources.Congress.Comment

            </div>
        </div>
        <div class="table-row-item table-c-auto table-fit">
            <div class="item">
                @Html.TextAreaFor(vip => vip.Comment, new { })
            </div>
        </div>
    </div>
</div>
