@using Radyn.Help.DataStructure
@using Radyn.Web.Mvc;

@model IEnumerable<Help>
    @{
        ViewBag.Title = @Resources.Common.List + " " + @Resources.Help.HelpName;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}
    @section PageTitle
{
        @Resources.Common.List @Resources.Help.HelpName
    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("Help").Area("Help").Text(@Resources.Help.HelpName + " " + @Resources.Common.New).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </div>

    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("Help").Area("Help").Text(@Resources.Help.HelpName + " " + @Resources.Common.New).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </div>
    }

    @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
          {
              columns.Template(help => help.DefaultTitle).Title(Resources.Help.HelpDefaultTitle).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(help => help.Enabled ? Resources.Common.Enable : Resources.Common.Disable).Title(Resources.Common.Status).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });


              columns.Template(help => Html.ActionLink(Resources.Help.NamelistofcontentsHelp, "Index", "HelpContent", new { area = "Help", helpId = help.Id, noCache = DateTime.Now }, null) + " | " + Html.ActionLink(Resources.Common.Detail, "Details", new { Id = help.Id }) + " | " +
              Html.ActionLink(Resources.Common.Edit, "Edit", new { Id = help.Id }) + " | " + Html.ActionLink(@Resources.Common.Delete, "Delete", new { Id = help.Id }) + " | " + Html.ActionLink(@Resources.Help.CreateHelpRelation, "CreateHelpRelation", new { helpId = help.Id })).Width(300).Encode(false);
          })

        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Filterable(filtering => filtering.Enabled(true))
        //.Footer(true)
        .Render();}
