@using Radyn.FileManager
@using Radyn.Web.Mvc
@using Radyn.Web.Mvc.Utility

@model  Radyn.FileManager.DataStructure.File


<script type="text/javascript">
        function ModifyFile() {


            $.post("/FileManager/Folder/FileModify", $('form[action^="/FileManager/Folder/LookUPFileModify"]').serialize(), function (data) {
                if (data != "false") {
                    GetFiles('@ViewBag.FolderId');
                    Close_thisModal();
                }
                ShowRadynMessage();
            });

        }
</script>



@using (Html.BeginForm("LookUPFileModify", "Folder"))
{
    <input type="hidden" value="@ViewBag.FolderId" name="FolderId" id="FolderId" />
    <input type="hidden" value="@Model.Id" name="FileId" id="FileId" />
   
   
    <div class="fit">
        <div class="item-row ">
            <div class="table-row-cap ">
                <div class="item">
                    @Resources.FileManager.FileName
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.TextBoxFor(x => x.FileName, new { })
                </div>
            </div>
        </div>
   
    </div>
    <div class="item-input file-upload">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.File
            </div>
        </div>
        <div class="table-row-item drp ">
            <div class="item">
                @{
                    Html.RadynAction("MultiFileUploader", "FileUpload", new { area = "FileManager", fileName = "File" });

                }
                @if (Model.Id != Guid.Empty)
                {

                    Html.RadynFile().Image().ID(Model.Id).Download().Render();

                }
            </div>
        </div>
    </div>



    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "ModifyFile();" }).Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "Close_thisModal();" }).Render();}
    </div>
}