@using Radyn.Congress.Tools
@using Radyn.Web.Mvc
@using Radyn.WebApp

@model IEnumerable<Radyn.Congress.DataStructure.UserBooth>
    <script type="text/javascript">
        function PaymentDetails(id) {
            if (id != "")
                ShowModal("@Url.Content("~/Payment/Transaction/LookUPTransactionDetails?Id=")" + id);
            else
                alert('@Resources.Common.No_results_found');
        }
        function Details(userId, boothId) {
            if (userId != "" && boothId != "") {
                ShowModal("@Url.Content("~/Congress/ManagmentPanel/LookUpBoothReserver?userId=")" + userId + "&boothId=" + boothId);
            }
        }
        function BoothOfficerDetails(userId, boothId) {
            if (userId != "" && boothId != "") {
                ShowModal("@Url.Content("~/Congress/ManagmentPanel/BoothOfficer?userId=")" + userId + "&boothId=" + boothId);
            }
        }
        function DeleteReserv(userId, boothId) {
            if (confirm('@Resources.Common.Are_You_Soure_For_Delete')) {
                $.get("@Url.Content("~/Congress/ManagmentPanel/DeleteUserbooth")", { userId: userId, boothId: boothId, date: new Date().getTime() }, function (data) {
                    if (data != "false") {
                        SearchBooth();
                    }
                });
            }

        }
    </script>
    <div>

            @{
                Html.Radyn().Grid(Model).DataKeys(x => x.Add(y => y.BoothId)).DataKeys(y => y.Add(x => x.UserId)).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto;" }).Columns(columns =>
                {
                    columns.Template(userBooth => " <img alt='" + @Resources.Congress.BoothOfficer + "' style='cursor: pointer' width = '20px;' height = '20px;' src='" + Url.Content("/Areas/Congress/Content/Images/booth-staff.png") + "'    onclick=\"BoothOfficerDetails('" + userBooth.UserId + "','" + userBooth.BoothId + "');\" />").Title(Resources.Congress.BoothOfficer).Encode(false).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(userBooth => userBooth.EnterpriseNode.DescriptionField).Title(@Resources.Congress.User).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(userBooth => userBooth.RegisterDate).Title(@Resources.Congress.RegisterDate).Width(50).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(userBooth => Html.DropDownList("Status-" + userBooth.UserId, new SelectList(ViewBag.status, "Key", "Value", userBooth.Status), new { }) + " <input type=\"hidden\"    value=\"" + userBooth.UserId + "\"    name=\"ModelId\"   Id=\"ModelId\"  />" + "<input type=\"hidden\" name=\"oldstatus-" + userBooth.UserId + "\" id=\"oldtype-" + userBooth.UserId + "\" value=\"" + userBooth.Status + "\" />").Title(Resources.Congress.RezervStatus).Encode(false).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(userBooth => (userBooth.Status != (byte)Enums.RezervState.Finalconfirm ? " <img alt='" + @Resources.Common.Delete + "' style='cursor: pointer' width = '20px;' height = '20px;' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "'    onclick=\"DeleteReserv('" + userBooth.UserId + "','" + userBooth.BoothId + "');\" />" : "") + " | " +
                    " <img alt='" + @Resources.Payment.PaymentDetails + "' style='cursor: pointer' width = '20px;' height = '20px;' src='" + Url.Content("~/Content/Images/payment-detail.png") + "'    onclick=\"PaymentDetails(" + "'" + userBooth.TransactionId + "'" + ");\" />" + " | " +
                    " <img alt='" + @Resources.Common.Detail + "' style='cursor: pointer' width = '20px;' height = '20px;' src='" + Url.Content("~/Content/Images/details.png") + "'    onclick=\"Details('" + userBooth.UserId + "','" + userBooth.BoothId + "');\" /> |"+
                                                  "<a style='cursor: pointer;' onclick=\"ModifyBoothUser('" + userBooth.UserId+ "','"+PageMode.Edit+"')\" > " +
                                                  " <img width='20' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a>").Title(Resources.Common.Delete).Encode(false).HeaderHtmlAttributes(new { style = "text-align:center" });

                }).Sortable(sorting => sorting.Enabled(true))
            .Pageable(paging => paging.Enabled(true))
            .Filterable(filtering => filtering.Enabled(true))
            //.Footer(true)
            .Render();
            }


        </div>
