@using Radyn.Web.Mvc;
@{
    ViewBag.Title = @Resources.Congress.UserInform;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{

    <script type="text/javascript">
        $(document)
            .ready(function () {

                InformTypeChange();
                GetPanel();
            });

        function InformTypeChange() {

            var value = document.getElementById("InformType").value;
            if (value != "") {
                $("#DivSelectFromUser").hide();
                $("#DivSelectFromUser").slideUp();
                SearchUser(value);
            } else {
                $("#DivSelectFromUser").show();
                $("#DivSelectFromUser").slideDown();
                $("#SearchResult").html("");
            }
        }

        function GetPanel() {
            ShowPostBackLoader();
            $("#DivMessagePanel").html("");
            $.get("@Url.Content("~/Message/Message/GetMessagePanel")",
                    { date: new Date().getTime() },
                    function (data) {
                        $("#DivMessagePanel").html(data);
                    })
                .complete(function () {
                    HidePostBackLoader();
                });
        }

        function SearchUser(informType) {

            var value = document.getElementById("txtSearch").value;
            ShowPostBackLoader();
            $("#SearchResult").html("");
            $.get("@Url.Content("~/Congress/ManagmentPanel/SearchUser")",
                    { filter: value, InformType: informType, date: new Date().getTime() },
                    function (data) {
                        $("#SearchResult").html(data).slideDown("slow");;
                    })
                .complete(function () {
                    HidePostBackLoader();
                });
        }

        function SelectUser(id, email, cellPhone, firstName, lastName) {
           if ($('#SelectedRow-' + id)[0] != undefined) return;
            var jQuery = $("#CheckSelect-" + id).attr("checked");
            if (jQuery == "checked") {
                $("#DivSelectedUser").css("display", "block");
                var rowCount = document.getElementById('tblSelectedUser').rows.length;
                var table = document.getElementById("tblSelectedUser");
                var row = table.insertRow(rowCount);
                row.id = "SelectedRow-" + id;
                $(row).attr("name", "SelectedRow-" + id);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);
                cell1.innerHTML = email;
                cell2.innerHTML = cellPhone;
                cell3.innerHTML = firstName;
                cell4.innerHTML = lastName;
                cell5.innerHTML = "<a style='cursor: pointer;' onclick='DeleteRow(\"SelectedRow-" +
                    id +
                    "\")'>" +
                    " <img width='18' align='absmiddle'  title='@Resources.Common.Delete' src='@Url.Content("~/Content/Images/Delete-Close.png")'/></a>";

            } else {
                DeleteRow("SelectedRow-" + id);
            }
            CalulateRows();
        }

        function CalulateRows() {
            var idLidt = $('[id^=SelectedRow-]');
            var ids = "";
            for (var i = 0; i < idLidt.length; i++) {
                ids += idLidt[i].id.split("SelectedRow-")[1] + ",";
            }
            $("#ItemSelected").val(ids);
        }
        function DeleteRow(rowid) {
            var row = document.getElementById(rowid);
            row.parentNode.removeChild(row);
            var idLidt = $('[id^=SelectedRow-]');
            if(idLidt.length === 0)
                $("#DivSelectedUser").css("display", "none");
            CalulateRows();
        }
    </script>
}
@section PageTitle{
    @Resources.Congress.UserInform

}
@section PageAction{
    <div class="button-div m-btn waves-green i-send">
        @{Html.Radyn().ImageActionLink().Text(@Resources.Congress.Send).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>
    <div class="button-div m-btn waves-blue i-envelope-open">
        @{Html.Radyn().ImageActionLink().ActionName("MessageIndex", new { value = ViewBag.str, callBackUrl = "/Congress/ManagmentPanel/UserInform" }).ControllerName("Message").Area("Message").Text(@Resources.Common.List + " " + @Resources.Message.SMS).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/reserve-list.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }
    </div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-green i-send">
        @{Html.Radyn().ImageActionLink().Text(@Resources.Congress.Send).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>
    <div class="button-div m-btn waves-blue i-envelope-open">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Message/Message/MessageIndex?value" + (string)ViewBag.str + "&callBackUrl=" + Url.Content("~/Congress/ManagmentPanel/UserInform"))).Text(@Resources.Common.List + " " + @Resources.Message.SMS).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/reserve-list.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }
    </div>
}
@Html.ValidationSummary(true)
<div>
    <div class="radynForm">
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Congress.SMSAccountCredit
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @ViewBag.Credit ريال

                </div>
            </div>
        </div>
        <div id="DivMessagePanel">
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DropDownList("InformType", (SelectList)ViewBag.InformTypes, Resources.Congress.SelectFromList, new { onchange = "InformTypeChange()" })
                </div>
            </div>
        </div>
        <div id="DivSelectFromUser">
            <div class="item-row">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Congress.User
                    </div>
                </div>
                <div class="table-row-item select-row two-col ">
                    <div class="item">
                        <div class="m-btn waves-blue i-search icon-btn">
                            <span>
                                @{Html.Radyn().ImageActionLink().Align(ImageActionLink.Alignment.Right).ImageUrl(Url.Content("~/Content/Images/search_button.png")).ImagePosition(ImageActionLink.Position.Left).OtherAttribute(new { onclick = "SearchUser()" }).Render(); }
                            </span>
                        </div>
                        @Html.TextBox("txtSearch", null, new { })



                    </div>
                </div>
            </div>
        </div>
        <div class="fit" id="DivSelectedUser" style="display: none">
            <div class="radyn_grid">
                <label>کاربران انتخاب شده</label>
                <table id="tblSelectedUser" class="table table-hover table-mc table-bordered table-condensed" dir="rtl">
                    <thead>
                        <tr>
                            <th class="column_header unsorted" width="60px" dt_bound="col0" style="text-align:center;height:30px" id="column_header_col0">@Resources.Congress.Email</th>
                            <th class="column_header sortable_column unsorted" width="100px" dt_bound="col1" style="text-align:center" id="column_header_col1">@Resources.EnterPriseNode.Cellphone</th>
                            <th class="column_header sortable_column unsorted" width="200px" dt_bound="col2" style="text-align:center" id="column_header_col2">@Resources.EnterPriseNode.FirstName</th>
                            <th class="column_header sortable_column unsorted" width="200px" dt_bound="col3" style="text-align:center" id="column_header_col3">@Resources.EnterPriseNode.LastName</th>
                            <th class="column_header sortable_column unsorted" width="200px" dt_bound="col4" style="text-align:center" id="column_header_col4">حذف</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <input type="hidden" id="ItemSelected" name="ItemSelected" />
        <div class="fit" id="SearchResult">
        </div>
    </div>
</div>