@using System.Web.Mvc.Html
@using Radyn.Web.Mvc;
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.Congress.Tools
@using Radyn.WebApp.Areas.FormGenerator.Tools
@using System.Web.Mvc
@model System.Collections.Generic.IEnumerable<Radyn.Congress.DataStructure.Article>
    @{
        ViewBag.Title = @Resources.Common.List + " " + string.Format(Resources.Congress.CongressArticle, SessionParameters.CurrentCongress.Configuration.ArticleTitle);
        Layout = "~/Views/Shared/_Layout.cshtml";

    }

    @section Head{


        <script type="text/javascript">
            function UpdateTotalStatus() {
                var con = confirm('آیا از تغییر وضعیت گروهی اطمینان دارید؟');
                if (con) {
                    ShowPostBackLoader();

                    var list = [];
                    var status = $('#finalstatus').val();
                    $('input[name="check-status"]:checked').each(function() {
                        var id = $(this).attr('id');
                        list.push(id);
                        var res = list.join(',');
                        $('#TotalStatusResult').val(res);
                    });
                    var result = $('#TotalStatusResult').val();
                    RadynPostData('/Congress/ManagmentPanel/ChangeArtilceStatusAsGroup',
                        { articles: result, status: status },
                        function() {
                            SearchAricle();
                        });
                } else {
                    return;
                }


            }


            function PrintList() {
                ShowPostBackLoader();
                RadynPostForm("@Url.Content("/Congress/ReportPanel/PrintArticlesList")",
                    "@Url.Content("~/Congress/ManagmentPanel/UserArticles")",
                    function(data) {
                        if (data != "false") {
                             window.open('@Url.Content("~/ReportBuilder/ReportView")');
                        }
                    });
            }

            function DesginArticlesReport() {
                ShowPostBackLoader();
                RadynPostForm("@Url.Content("~/Congress/ReportPanel/DesginArticlesReport")",
                   "@Url.Content("~/Congress/ManagmentPanel/UserArticles")",
                    function(data) {
                        if (data.Result != false) {
                            window.open(
                                "@Url.Content("~/ReportBuilder/ReportDesign?DataMethod=PreaperReport")&DataMethodParamets=" +
                                data.ReportId +
                                "&UpdateMethod=UpdateReport&UpdateParametrs=" +
                                data.ReportId);
                        }
                        ShowRadynMessage();
                    });

            }

            function Updatearticles() {
                ShowPostBackLoader();
                RadynPostForm("@Url.Content("~/Congress/ManagmentPanel/UpdateUserArticles")",
                   "@Url.Content("~/Congress/ManagmentPanel/UserArticles")",
                    function(data) {
                        if (data != "false") {
                            ShowRadynMessage();
                            SearchAricle();
                        }
                        ShowRadynMessage();
                    });

            }

            function DeleteAricle(Id) {

                if (confirm('آیا از فرستادن رکورد مورد نظر به بخش آرشیو مطمئن هستید؟')) {
                    $.get("@Url.Content("~/Congress/ManagmentPanel/DeleteArticleData")",
                        { articleId: Id, date: new Date().getTime() },
                        function(data) {
                            if (data != "") {
                                SearchAricle();
                            }
                            ShowRadynMessage();
                            //SearchAricle();
                        });
                    ShowRadynMessage();
                }
            }

            function SearchAricle() {

                ShowPostBackLoader();
                $("#DivArtileResult").html("");
                RadynPostForm("@Url.Content("~/Congress/ManagmentPanel/UserArticles")",
                   "@Url.Content("~/Congress/ManagmentPanel/UserArticles")",
                    function(data) {

                        if (data != "false") {
                            $("#DivArtileResult").html(data);
                            $("#DivArtileResult").slideDown();
                        }


                    });

            }

            function DesginAbstractArticle() {
                ShowPostBackLoader();
                $.get("@Url.Content("~/Congress/ReportPanel/DesginAbstractArticle")",
                    { date: new Date().getTime() },
                    function(data) {
                        if (data.Result != false) {
                            window.open(
                                "@Url.Content("~/ReportBuilder/ReportDesign?DataMethod=PreaperReport")&DataMethodParamets=" +
                                data.ReportId +
                                "&UpdateMethod=UpdateReport&UpdateParametrs=" +
                                data.ReportId);
                        }
                        ShowRadynMessage();
                    }).complete(function() {
                    HidePostBackLoader();
                });
            }

            function PrintCertificate(Id) {
                window.open('@Url.Content("~/Congress/ReportPanel/PrintArticleCertificate?Id=")' +
                    Id +
                    "&Isadmin=true");
                ShowRadynMessage();
            }

            function PrintArticlesAbstract() {
                ShowPostBackLoader();
                $.post("@Url.Content("~/Congress/ReportPanel/PrintArticlesAbstract")",
                    $('form[action^="@Url.Content("~/Congress/ManagmentPanel/UserArticles")"]').serialize(),
                    function(data) {
                        if (data != "false") {
                             window.open('@Url.Content("~/ReportBuilder/ReportView")');
                        }
                        ShowRadynMessage();
                    }).complete(function() {
                    HidePostBackLoader();
                });
            }

            function DesginCertificate() {
                ShowPostBackLoader();
                $.get("@Url.Content("~/Congress/ReportPanel/DesginArticleCertificate")",
                    { date: new Date().getTime() },
                    function(data) {
                        if (data.Result != false) {
                            window.open(
                                "@Url.Content("~/ReportBuilder/ReportDesign?DataMethod=PreaperReport")&DataMethodParamets=" +
                                data.ReportId +
                                "&UpdateMethod=UpdateReport&UpdateParametrs=" +
                                data.ReportId);
                        }
                        ShowRadynMessage();
                    }).complete(function() {
                    HidePostBackLoader();
                });
            }

            function PrintCertificateList() {
                ShowPostBackLoader();
                $.post("@Url.Content("~/Congress/ReportPanel/PrintAllArticleCertificate")",
                    $('form[action^="@Url.Content("~/Congress/ManagmentPanel/UserArticles")"]').serialize(),
                    function(data) {
                        if (data != "false") {
                             window.open('@Url.Content("~/ReportBuilder/ReportView")');
                        }
                        ShowRadynMessage();
                    }).complete(function() {
                    HidePostBackLoader();
                });

            }

            function SaveRecord(Id) {
              
                var con = confirm("آیا مطمئن هستید ؟‌");
                if (con) {
                    ShowPostBackLoader();
                    var articleType = $('#drpArticleType-' + Id + ' option:selected').val();
                    var finalStatus = $('#drpfinalstatus-' + Id + ' option:selected').val();
                    $.post("@Url.Content("~/Congress/ManagmentPanel/UpdateRecord")",
                        { id: Id, articleType: articleType, finalStatus: finalStatus },
                        function(data) {
                            if (data != "false") {

                            }
                            ShowRadynMessage();
                        }).complete(function() {
                        HidePostBackLoader();
                    });
                }

            }


            function DownloadZipFile() {
                ShowPostBackLoader();
                $.post("@Url.Content("~/Congress/ReportPanel/DownloadAllarticleZipFile")",
                    $('form[action^="@Url.Content("~/Congress/ManagmentPanel/UserArticles")"]').serialize(),
                    function(data) {
                        window.open('@Url.Content("~/Congress/ReportPanel/DownloaArticleZipFile")');
                        ShowRadynMessage();
                    }).complete(function() {
                    HidePostBackLoader();
                });


            }


            $(document).ready(function() {
                SearchAricle();


            });

            function ChangePivotCategory() {
                var id = $('#PivotCategoryId').val();
                $('#Search_PivotId').html('');
                $('#Search_PivotId').append($('<option>').text("@Resources.Congress.All"));
                $.get('/Congress/ManagmentPanel/GetPivot',
                    { id: id },
                    function(data) {
                        for (var i = 0; i < data.length; i++) {
                            var op = $('<option>').attr('value', data[i].Id).text(data[i].Title);
                            $('#Search_PivotId').append(op);
                        }
                    })
            }
        </script>

    }
    @section PageTitle
{
        @Resources.Common.List @string.Format(Resources.Congress.CongressArticle, SessionParameters.CurrentCongress.Configuration.ArticleTitle)

    }
    @section PageAction
    {
        <div class="button-div m-btn waves-green i-save" id="BtnUpdate">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveChanges).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).ID("BtnUpdate2").OtherAttribute(new { onclick = "Updatearticles()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-blue i-print" id="BtnReport">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.PrintList).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/printer.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "PrintList()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-orange i-signature" id="DivDesignAbstractArticle1">
            @{Html.Radyn().ImageActionLink().Text(string.Format(Resources.Congress.DesignAbstractArticle, SessionParameters.CurrentCongress.Configuration.ArticleTitle)).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/card-design.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "DesginAbstractArticle()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-purple i-brush" id="DivArticleReport">
            @{Html.Radyn().ImageActionLink().Text(string.Format(Resources.Congress.DesignArticleReport, SessionParameters.CurrentCongress.Configuration.ArticleTitle)).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/certificate-design.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "DesginArticlesReport()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-yellow i-brush" id="DivDesginReportCertificate">
            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.Design + " " + Resources.Congress.Certificate).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/certificate-design.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "DesginCertificate()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-blue i-print" id="DivReportCertificate">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Print + " " + Resources.Congress.Certificate).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/printer-certificate.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "PrintCertificateList()" }).Render(); }

        </div>
        <div class="button-div m-btn waves-blue i-print" id="DivArticlesAbstract1">
            @{Html.Radyn().ImageActionLink().Text(string.Format(Resources.Congress.PrintArticlesAbstract, SessionParameters.CurrentCongress.Configuration.ArticleTitle)).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/card-print.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "PrintArticlesAbstract()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-blue i-download">
            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.Download).ImageUrl(Url.Content("~/Content/Images/download-file.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "DownloadZipFile()", title = string.Format(Resources.Congress.DownloadZipFile, SessionParameters.CurrentCongress.Configuration.ArticleTitle) }).Render(); }
        </div>
        <div class="button-div m-btn waves-gray i-archive">
            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.Archive).ImageUrl(Url.Content("~/Content/Images/recyclebin.png")).ImagePosition(ImageActionLink.Position.Right).NavigateUrl(Url.Content("~/Congress/ManagmentPanel/ArticleArchive")).Render(); }
        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "window.location='/Security/User/Menu?oid=" + Radyn.Common.Constants.OperationId.CongressOperationId + "';" }).Render(); }
        </div>
    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-green i-save" id="BtnUpdate2">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveChanges).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).ID("BtnUpdate2").OtherAttribute(new { onclick = "Updatearticles()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-blue i-print" id="BtnReport1">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.PrintList).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/printer.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "PrintList()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-orange i-signature" id="DivDesignAbstractArticle">
            @{Html.Radyn().ImageActionLink().Text(string.Format(Resources.Congress.DesignAbstractArticle, SessionParameters.CurrentCongress.Configuration.ArticleTitle)).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/card-design.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "DesginAbstractArticle()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-purple i-brush" id="DivArticleReport1">
            @{Html.Radyn().ImageActionLink().Text(string.Format(Resources.Congress.DesignArticleReport, SessionParameters.CurrentCongress.Configuration.ArticleTitle)).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/certificate-design.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "DesginArticlesReport()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-yellow i-brush" id="DivDesginReportCertificate1">
            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.Design + " " + Resources.Congress.Certificate).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/certificate-design.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "DesginCertificate()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-blue i-print" id="DivReportCertificate1">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Print + " " + Resources.Congress.Certificate).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/printer-certificate.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "PrintCertificateList()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-blue i-print" id="DivArticlesAbstract">
            @{Html.Radyn().ImageActionLink().Text(string.Format(Resources.Congress.PrintArticlesAbstract, SessionParameters.CurrentCongress.Configuration.ArticleTitle)).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/card-print.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "PrintArticlesAbstract()" }).Render(); }
        </div>
        <div class="button-div m-btn waves-blue i-download">
            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.Download).ImageUrl(Url.Content("~/Content/Images/download-file.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "DownloadZipFile()", title = string.Format(Resources.Congress.DownloadZipFile, SessionParameters.CurrentCongress.Configuration.ArticleTitle) }).Render(); }
        </div>
        <div class="button-div m-btn waves-gray i-archive">
            @{Html.Radyn().ImageActionLink().Text(Resources.Congress.Archive).ImageUrl(Url.Content("~/Content/Images/recyclebin.png")).ImagePosition(ImageActionLink.Position.Right).NavigateUrl(Url.Content("~/Congress/ManagmentPanel/ArticleArchive")).Render(); }
        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "window.location='/Security/User/Menu?oid=" + Radyn.Common.Constants.OperationId.CongressOperationId + "'" }).Render(); }
        </div>
    }
    <div class="radynForm">
        <div class="fit">
            <div class="table-row-roller cursor-pointer" onclick="slide('advance-article-search');">
                <div class="item">
                    @Resources.Congress.Search
                    <span class="arrow toButton Basic-Attachment advance-article-search"></span>
                </div>
            </div>
            <div class="fit advanceSetting" id="advance-article-search">
                <div class="item-row">
                    <div class="table-row-cap">
                        <div class="item">
                            @string.Format(Resources.Congress.ListOfAticlesThat, SessionParameters.CurrentCongress.Configuration.ArticleTitle)
                        </div>
                    </div>
                    <div class="table-row-item">
                        <div class="item">
                            @Html.DropDownList("SearchStatus", new SelectList(ViewBag.status, "Key", "Value"), "" + Resources.Congress.All + "", new { })
                        </div>
                    </div>
                </div>



                <div class="item-row">
                    <div class="table-row-cap">
                        <div class="item">
                            @Resources.Congress.User @Resources.Congress.Or @Resources.Congress.ArticlePublisher
                        </div>
                    </div>
                    <div class="table-row-item">
                        <div class="item">
                            @Html.TextBox("txtSearch")
                        </div>

                    </div>

                </div>
                <div class="item-row">
                    <div class="table-row-cap">
                        <div class="item">
                            @Resources.Congress.Referee
                        </div>
                    </div>
                    <div class="table-row-item">
                        <div class="item">
                            @Html.TextBox("txtReferee")
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-row">
                        <div class="table-row-cap">
                            @string.Format(Resources.Congress.ArticleType, SessionParameters.CurrentCongress.Configuration.ArticleTitle)
                        </div>
                        <div class="table-row-item">
                            @Html.DropDownList("Search_ArticleTypeId", new SelectList(ViewBag.ArticleType, "Key", "Value"), "" + Resources.Congress.All + "")
                        </div>
                    </div>
                    <div class="item-row">
                        <div class="table-row-cap">
                            @Resources.Congress.PivotCategory
                        </div>
                        <div class="table-row-item">
                            @Html.DropDownList("Search_PivotCategoryId", new SelectList(ViewBag.PivotCategory, "Key", "Value"), "" + Resources.Congress.All + "", new { onchange = "ChangePivotCategory()" })
                        </div>
                    </div>
                    <div class="item-row">
                        <div class="table-row-cap">
                            @Resources.Congress.Pivot
                        </div>
                        <div class="table-row-item">
                            <select id="Search_PivotId" name="Search_PivotId"></select>
                        </div>
                    </div>
                    @if (ViewBag.HasArticlePayment)
                    {
                        <div class="item-row">
                            <div class="table-row-cap">
                                @Resources.Congress.PaymentStatus
                            </div>
                            <div class="table-row-item">
                                @Html.DropDownList("SearchPaymentStatus", new SelectList(ViewBag.paystatus, "Key", "Value"), "" + Resources.Congress.All + "")
                            </div>
                        </div>
                    }

                </div>
                <div class="fit">
                    @*<div class="width13percent page-align">
                            @string.Format(Resources.Congress.ArticleState,SessionParameters.CurrentCongress.Configuration.ArticleTitle)
                        </div>
                        <div class="width18percent page-align" style="margin-left: 5px">
                            @Html.DropDownList("SearchStatus", new SelectList(ViewBag.status, "Key", "Value"), "" + Resources.Congress.All + "", new { style = "width: 120px" })
                        </div>*@
                    <div class="item-row">
                        <div class="table-row-cap">
                            @Resources.Congress.FinalState
                        </div>
                        <div class="table-row-item">
                            @Html.DropDownList("SearchFinalState", new SelectList(ViewBag.finalstatus, "Key", "Value"), "" + Resources.Congress.All + "")
                        </div>
                    </div>
                    <div class="item-row">
                        <div class="table-row-cap">
                            @Resources.Congress.SortAccordingTo
                        </div>
                        <div class="table-row-item">
                            @Html.DropDownList("SortFinalState", new SelectList(ViewBag.SortAccordingTo, "Key", "Value"))
                        </div>
                    </div>
                    <div class="item-row">
                        <div class="table-row-cap">
                            @Resources.Congress.AscendingDescending
                        </div>
                        <div class="table-row-item">
                            @Html.DropDownList("SortByAscendingDescending", new SelectList(ViewBag.AscendingDescending, "Key", "Value"))
                        </div>
                    </div>
                    <div class="item-row">
                        <div class="button-div m-btn waves-blue i-search" id="BtnSearch">
                            @{Html.Radyn().ImageActionLink().ImageUrl(Url.Content("~/Content/Images/search_button.png")).Text(@Resources.Common.Search).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "SearchAricle()", title = Resources.Common.Search }).Render(); }
                        </div>

                        <div class="button-div m-btn waves-yellow i-refresh" id="BtnSearch1">
                            @{Html.Radyn().ImageActionLink().ImageUrl(Url.Content("~/Content/Images/refresh.png")).Text(Resources.Congress.Refresh).OtherAttribute(new { onclick = "SearchAricle();", title = Resources.Congress.Refresh }).ImagePosition(ImageActionLink.Position.Left).Render(); }
                        </div>
                    </div>
                </div>
                <div>
                    @{
                        Html.FormReportGenerator(AppExtention.CongressMoudelName + "-/Congress/ArticlePanel/Article");
                    }
                </div>
            </div>
        </div>

        <input type="hidden" name="Result" id="Result" />


        <div class="fit item-row"style="padding: 10px 0">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Congress.Status
                </div>

            </div>
            <div class="table-row-item select-row two-col">
                <div class="item">
                    <div class="m-btn waves-green i-save icon-btn" id="BtnUpdate2">
                        @{Html.Radyn().ImageActionLink().Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).ID("BtnUpdate2").OtherAttribute(new { onclick = "UpdateTotalStatus()" }).Render(); }
                    </div>
                    @Html.DropDownList("finalstatus", (SelectList) ViewBag.totalstatus, "", new {})

                </div>
            </div>


        </div>
        @Html.Hidden("TotalStatusResult")

        <div class="grid-guid">
            <div class="grid-guid-title">
                @Resources.Common.Help
            </div>
            <ul>
                <li>
                    <img src="/Content/Images/Save.png">
                    @Resources.Common.SaveChanges
                </li>
                <li>
                    <img src="/Content/Images/edit.png">
                    @Resources.Common.Edit
                </li>
                <li>
                    <img src="/Content/Images/Delete-Close.png">
                    @Resources.Common.Delete
                </li>

                <li>
                    <img src="/Content/Images/online.png">
                    @string.Format(Resources.Congress.OrginalFile, SessionParameters.CurrentCongress.Configuration.ArticleTitle)
                </li>
                <li>
                    <img src="/Content/Images/online-red.png">
                    @Resources.Congress.ArticleAbstract
                </li>
                <li>
                    <img src="/Areas/Congress/Content/Images/payment-command.png">
                    @Resources.Payment.PaymentDetails
                </li>
                <li>
                    <img src="/Areas/Congress/Content/Images/judge-comments.png">
                    @Resources.Congress.CommentofReferee
                </li>
                <li>
                    <img src="/Areas/Congress/Content/Images/judge-assigned.png">
                    @Resources.Congress.JudgeAssigned
                </li>
                <li>
                    <img src="/Areas/Congress/Content/Images/judge-not-assigned.png">
                    @Resources.Congress.JudgeNotAssigned
                </li>

                <li>
                    <img src="/Content/Images/printer-certificate.png">
                    @Resources.Common.Print @Resources.Congress.Certificate
                </li>

            </ul>
        </div>
        <div class="fit" id="DivArtileResult">
            @*<div id="radyn_gird"></div>*@
        </div>
    </div>
