@model Radyn.Reservation.DataStructure.ChairType
<div class="radynForm">
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Reservation.Name
            </div>
        </div>
        <div class="table-row-item table-fit">
            <div class="item">
                @Html.EditorFor(x => x.Title)

            </div>
        </div>
    </div>
    <div class=" item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Reservation.Hall
            </div>
        </div>
        <div class="table-row-item table-fit">
            <div class="item">
                @Html.DropDownListFor(model => model.HallId, (SelectList)TempData["HallList"])

            </div>
        </div>
    </div>

    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Reservation.Amount
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                <div style="float: right; ">
                    @Html.TextBoxFor(model => model.ValidAmount, new { })
                </div>
                <div style="float: right; margin-right: 4px">
                    @Html.DropDownListFor(model => model.CurrencyType, (SelectList)ViewBag.Currency)
                </div>
            </div>
        </div>
    </div>
</div>
