@using Radyn.Congress.DataStructure
@using Radyn.FormGenerator.Tools
@using Radyn.Web.Mvc
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.Congress.Tools
@using Radyn.WebApp.Areas.FormGenerator.Tools
@model RefereeCartable
@{
    /**/

    ViewBag.Title = Resources.Congress.Refereeopinion;
    Layout = "~/Areas/Congress/Views/Shared/CongressRefereeLayout.cshtml";
}

@section Head{
    <script>
        function Refereeopinion() {
           $.post("@Url.Content("~/Congress/RefereePanel/Refereeopinion")", $('form[action^="@Url.Content("~/Congress/RefereePanel/Refereeopinion")"]').serialize(), function (data) {
                if (data.Result==true) {
                    $("#SumValue").val(data.Score);

                }
            });
            ShowRadynMessage();
        }
    </script>
}
@section PageAction
{
    @if (Model.IsActive)
    {
        <div class="button-div m-btn waves-green i-save">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).OtherAttribute(new { onclick = "Refereeopinion()" }).Render(); }
        </div>
    }
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/RefereePanel/RefereeCartablIndex")).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Text(@Resources.Common.Return).Render(); }
    </div>
}
@section PageActionDown
{
    @if (Model.IsActive)
    {
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).OtherAttribute(new { onclick = "Refereeopinion()" }).Render(); }

    </div>
    }
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/RefereePanel/RefereeCartablIndex")).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Text(@Resources.Common.Return).Render(); }
    </div>

}
@using (Html.BeginForm())
{
    <input type="hidden" value="@Model.ArticleId" name="articleId" id="articleId" />
    Html.FormGenerator(AppExtention.CongressMoudelName + "-/Congress/RefereePanel/Refereeopinion", new Referee().GetType().Name + "opinion", SessionParameters.CongressReferee.Id + "," + Model.ArticleId);

    <div>
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Point
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                <input type="text" disabled="disabled" value="@Model.Score" readonly="readonly" id="SumValue" />
            </div>
        </div>
    </div>
}