@using Radyn.Congress.DataStructure
@using Radyn.Congress.Tools
@using Radyn.FileManager
@using Radyn.Web.Mvc
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.EnterpriseNode.ExtentionTools

@using Radyn.Utility
@model IEnumerable<RefereeCartable>
    @{
        ViewBag.Title = Resources.Congress.Cartabl;
        Layout = "~/Areas/Congress/Views/Shared/CongressRefereeLayout.cshtml";
    }
    @section Head{

    }
    @section PageTitle
{
        @SessionParameters.CongressReferee.EnterpriseNode.EnterpriseNodeTitle()

    }
    @section PageAction
{
        <div class="button-div">
            @string.Format(Resources.Congress.ArticlessenttoyourKatabl, SessionParameters.CurrentCongress.Configuration.ArticleTitle)
        </div>

    }
    <div class="fit">
        <div class="users-page full-size referee-form">

            <div class="item-input">
                <div class="table-row-cap" style="margin-right: 0">
                    <div class="item">
                        @Resources.Congress.Status
                    </div>
                </div>
                <div class="table-row-item table-fit">
                    <div class="item two-col-row">
                        <div class="m-btn waves-blue i-search icon-btn">
                            <span>
                                @{Html.Radyn().ButtonActionLink().Submit().Render(); }
                            </span>
                        </div>
                        <div class="width80percent page-align">
                            @Html.DropDownList("StateId", new SelectList(ViewBag.status, "key", "value", (ViewBag.SelectedStatus != null ? ViewBag.SelectedStatus : Resources.Congress.All)), Resources.Congress.All)
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="alert-info alert-control" style="width: 100%; margin-right: 0;">
            <span>
                <i class="fa fa-info-circle"></i>
                @string.Format(Resources.Congress.PleaseClickOnArticleTitleForjudgment, SessionParameters.CurrentCongress.Configuration.ArticleTitle)
            </span>
        </div>
    </div>

    @if (ViewBag.File != null)
    {
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @string.Format(Resources.Congress.AttachRefereeFile, SessionParameters.CurrentCongress.Configuration.ArticleTitle)

                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    <a href="@(FileManagerContants.FileHandlerRoot + ((Radyn.FileManager.DataStructure.File)ViewBag.File).Id + "?dl=true")">@(((Radyn.FileManager.DataStructure.File)ViewBag.File).FileName)</a>
                </div>
            </div>
        </div>
    }


    <div class="fit internal-grid">

        @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
                    {

                        columns.Template(congressArticle => "<a href='" + Url.Content("~/Congress/RefereePanel/RefereeCartabl?refreeId=" + congressArticle.RefereeId + "&articleId=" + congressArticle.ArticleId) + "'>" + (congressArticle.Article.Title ?? string.Format(Resources.Congress.Article, SessionParameters.CurrentCongress.Configuration.ArticleTitle)) + " </a>").Title(string.Format(Resources.Congress.ArticleTitle, SessionParameters.CurrentCongress.Configuration.ArticleTitle)).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200).Encode(false);
                        columns.Template(refereeCartable => refereeCartable.Article.Code).Title(Resources.Congress.Code).Width(70).HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Template(refereeCartable => refereeCartable.Visited ? Resources.Common.Yes : Resources.Common.No).Title(@Resources.Congress.Visited).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Template(refereeCartable => refereeCartable.Status.ToString().ToEnum<Enums.FinalState>().GetDescriptionInLocalization()).Title(Resources.Congress.FinalState).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Template(congressArticle => "<a href='" + Url.Content("~/Congress/RefereePanel/RefereeCartabl?refreeId=" + congressArticle.RefereeId + "&articleId=" + congressArticle.ArticleId) + "'>" + string.Format(Resources.Congress.ViewArticle, SessionParameters.CurrentCongress.Configuration.ArticleTitle + " </a>")).Title(Resources.Congress.ViewArticle).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(100).Encode(false);
                        columns.Template(congressArticle => "<a href='" + Url.Content("~/Congress/RefereePanel/Refereeopinion?articleId=" + congressArticle.ArticleId) + "'>" + Resources.Common.View + " " + Resources.Congress.Refereeopinion + " </a>").Title(Resources.Congress.Refereeopinion).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200).Visible((bool)ViewBag.HasRefereeopinion).Encode(false);


                    })
                            //        .Scrollable(scrolling => scrolling.Enabled(false))
                            .Sortable(sorting => sorting.Enabled(true))
                            .Pageable(paging => paging.Enabled(true))
                            .Filterable(filtering => filtering.Enabled(true))
                            //.Sortable(x => x.Enabled(true))
                            /*.Culture(@SessionParameters.Culture)*/
                            .Render();}
    </div>

