@using Radyn.Congress.Tools
@using Radyn.Web.Mvc;
@{
    ViewBag.Title = Resources.Congress.Userlist;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script type="text/javascript">

        function GetUsers() {

            if (confirm('@Resources.Congress.AreYouSureGenerateUser')) {
                ShowPostBackLoader();
                $("#DivResultSearchUser").html("");
                $.post("@Url.Content("~/Congress/Guest/GenerateUser")", $('form[action^="@Url.Content("~/Congress/Guest")"]').serialize(), function (data) {
                    if (data != "false") {
                        $("#DivResultSearchUser").html(data).slideDown("slow");;

                    }
                    ShowRadynMessage();
                }).complete(function () {
                    HidePostBackLoader();
                });
            }
        }
        function SearchUser() {
            ShowPostBackLoader();
            $("#DivResultSearchUser").html("");
            $.post("@Url.Content("~/Congress/Guest/Index")", $('form[action^="@Url.Content("~/Congress/Guest")"]').serialize(), function (data) {
                if (data != "false") {
                    $("#DivResultSearchUser").html(data).slideDown("slow");;

                }
                ShowRadynMessage();
            }).complete(function () {
                HidePostBackLoader();


            });

        }
        function PrintCardList() {
            ShowPostBackLoader();
            $.post("@Url.Content("~/Congress/ReportPanel/PrintCardList")", $('form[action^="@Url.Content("~/Congress/Guest")"]').serialize(), function (data) {
                if (data != "false") {
                     window.open('@Url.Content("~/ReportBuilder/ReportView")');
                }
                ShowRadynMessage();
            }).complete(function () {
                HidePostBackLoader();
            });
        }
        function DeleteUser(Id) {
            if (confirm('@Resources.Common.Are_You_Soure_For_Delete')) {
                $.get("@Url.Content("~/Congress/User/DeleteUser")", { Id: Id, date: new Date().getTime() }, function (data) {
                    if (data != "false") {
                        ShowRadynMessage();
                        $("#Row-" + Id).slideUp("slow");

                    }
                    ShowRadynMessage();
                });
                ShowRadynMessage();
            }
        }



    </script>
}
@section PageTitle
{

    @Resources.Congress.Userlist

}
@section PageAction
{


    <div class="button-div m-btn waves-blue i-print" id="BtnReport">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.PrintList).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/printer.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "PrintCardList()" }).Render(); }
    </div>

}
@section PageActionDown
{

    <div class="button-div m-btn waves-blue i-print" id="BtnReport1">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.PrintList).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/printer.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "PrintCardList()" }).Render(); }
    </div>
}
<input type="hidden" value="@Enums.UserStatus.Guest" id="SearchStatus" name="SearchStatus" />
<div class="radynForm">
    <div class="fit ">




        <div class="item-row ">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Congress.Count
                </div>
            </div>
            <div class="table-row-item select-row two-col">
                <div class="item">
                    @Html.TextBox("CountUser")
                    <div class="m-btn waves-green i-add-user icon-btn" id="BtnSave">
                        @{Html.Radyn().ImageActionLink().Align(ImageActionLink.Alignment.Right).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "GetUsers()" }).Render(); }
                    </div>

                </div>
            </div>
        </div>




        <div class="item-row">

            <div class="table-row-cap">
                <div class="item">
                    @Resources.Congress.RegisterDate
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item date-picker">
                    @{Html.Radyn().PersianDateTimePicker().Name("RegisterDate").ID("RegisterDate").Render(); }
                </div>
            </div>


        </div>

        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                </div>
            </div>
            <div class="table-row-item ">
                <div class="button-div m-btn  waves-blue i-search" id="BtnSearch" style="margin: 0">
                    @{Html.Radyn().ImageActionLink().Text(Resources.Common.Search).Align(ImageActionLink.Alignment.Right).ImageUrl(Url.Content("~/Content/Images/search_button.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "SearchUser();" }).Render(); }
                </div>
            </div>
        </div>


        <div class="fit" id="DivResultSearchUser">

        </div>
    </div>
</div>
