@using Radyn.Congress.DataStructure
@using Radyn.Congress.Tools
@using Radyn.FileManager
@using Radyn.Utility
@using Radyn.Web.Mvc

@{
    ViewBag.Title = Resources.Congress.BoothRezerv;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@section Head
{
    <script type="text/javascript">
        function Getdetails() {
            ShowPostBackLoader();
        $("#DivItem").html("");
        $.get("@Url.Content("~/EnterpriseNode/EnterPriseNode/GenerateEnterpriseNodeModify")", { state: "Details", id: '@ViewBag.Id', date: new Date().getTime() }, function (data) {
            $("#DivItem").html(data).slideDown("slow");;
        }).complete(function () {
            BoothOfficerList();
        });
    }
    function BoothOfficerList() {
        $("#DivAuthorBoothOfficerList").html("");
        $.get("@Url.Content("~/Congress/Booth/GetGuestBoothOfficerDetailList")", { guestId: '@ViewBag.Id', date: new Date().getTime() }, function (data) {
            $("#DivAuthorBoothOfficerList").html(data).slideDown("slow");;
        }).complete(function() {
            HidePostBackLoader();
        });
    }
    $(document).ready(function () {
        Getdetails();

    });
    </script>
}
<div id="diveFields" class="table">
   
    <div id="DivItem"></div>
    <div id="DivAuthorBoothOfficerList"></div>

    <div class="fit">
        @if (ViewBag.BoothMapId != null)
        {
            <img src="@FileManagerContants.FileHandlerRoot@ViewBag.BoothMapId" height="100" width="98%" />
        }
        @{Html.Radyn().Grid((IEnumerable<UserBooth>)ViewBag.Booths).Name("Grid").HtmlAttributes(new { style = "width:98.5%;margin: 0 auto" }).Columns(columns =>
            {
                columns.Template(booth => booth.Booth.Code).Title(Resources.Congress.Code).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(booth => booth.Booth.CategoryId.HasValue ? booth.Booth.BoothCatgory.Title : "").Title(Resources.Congress.BoothCategory).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(booth => booth.Booth.Location).Title(Resources.Congress.Location).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(booth => booth.Booth.ValidCost + " " + booth.Booth.CurrencyType.ToEnum<Radyn.Common.Definition.Enums.CurrencyType>().GetDescriptionInLocalization()).Title(Resources.Congress.Cost).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(booth => ((Enums.RezervState)booth.Status).GetDescription()).Title(Resources.Congress.Status).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });

            })

                .Sortable(sorting => sorting.Enabled(true))
                .Pageable(paging => paging.Enabled(true))
                .Filterable(filtering => filtering.Enabled(true))
                //.Footer(true)
                .Render();}
    </div>
</div>

