@model object
@{
    ViewBag.Title = Resources.Congress.SQLCommandPrompt;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script type="text/javascript">
        $(document).ready(function () {
            selectSchema();
        });

        function changeMode(mode) {
            $("#divcommand").slideUp();
            $("#divwizard").slideUp();
            $("#div" + mode.id).slideDown();
        }

        function GetResult() {
            $.post("@Url.Content("~/Sql/Sql/GetResult")", $("form[action^='@Url.Content("~/SQL/SQL/Index")']").serialize(), function (data) {
                $("#divResult").html(data).slideDown("slow");;
            });
        }

        function GetWizardResult() {
            $.post("@Url.Content("~/Sql/Sql/GetWizardResult")", $("form[action^='@Url.Content("~/SQL/SQL/Index")']").serialize(), function (data) {
                $("#divResult").html(data).slideDown("slow");;
            });
            var colo = "";
            $("[name='col']").each(function () {
                if ($(this).attr("checked") == "checked")
                    colo += $(this).val() + ",";

            });
            if (colo != "") {
                colo = colo.substring(0, colo.length - 1);
            }
            var command = "select " + colo + " from [" + schema[schema.selectedIndex].value + "].[" + table[table.selectedIndex].value + "]";
            $("#commandValue").val(command);
        }

        function selectSchema() {
            $.get("@Url.Content("~/Sql/Sql/GetSchema")", { connection: connection[connection.selectedIndex].value }, function (data) {
                $("#schema").html("");
                $("#table").html("");
                $("#divColumn").html("");
                $("#schema").append("<option value=''>Select</option>");
                for (var index in data) {
                    $("#schema").append("<option value='" + data[index].id + "'>" + data[index].id + "</option>");
                }
            });
        }

        function selectTable() {
            $.get("@Url.Content("~/Sql/Sql/GetTables")", { connection: connection[connection.selectedIndex].value, schema: schema[schema.selectedIndex].value }, function (data) {
                $("#table").html("");
                $("#divColumn").html("");
                $("#table").append("<option value=''>Select</option>");
                for (var index in data) {
                    $("#table").append("<option value='" + data[index].id + "'>" + data[index].id + "</option>");
                }
            });
        }

        function selectColumn() {
            $.get("@Url.Content("~/Sql/Sql/GetColumns")", { connection: connection[connection.selectedIndex].value, schema: schema[schema.selectedIndex].value, table: table[table.selectedIndex].value }, function (data) {
                $("#divColumn").html("");
                for (var index in data) {
                    $("#divColumn").append("<input type='checkbox' name='col' id='" + data[index].id + "' value='[" + data[index].id + "]' /><label for='" + data[index].id + "'>" + data[index].id + "</label>");
                }
            });
        }
    </script>
}
@using (Html.BeginForm())
{
    <div style="direction: ltr;">
        <div style="border: solid black 1px; background-color: darkgray; color: white; padding: 5px;
                                                                                                    font-family: tahoma; font-size: 12px;">
            <fieldset>
                <legend>Mode</legend>
                <input type="radio" onchange="changeMode(this);" value="Command" name="mode" id="command" checked="checked" /><label for="command">Command</label>  <input type="radio" value="Wizard" onchange="changeMode(this);" name="mode" id="wizard" /><label for="wizard">Wizard</label>
            </fieldset>
        </div>
        <div style="display: @(ViewBag.Message != null ? "Inline" : "None");border: solid red 1px; background-color: gainsboro; color: red;font-family: tahoma; font-size :12px;">
            <fieldset>
                <legend>Error</legend>
                @ViewBag.Message
            </fieldset>
        </div>
        <div style="background-color: whitesmoke;border: solid 1px darkblue;padding: 4px 4px 4px 4px;font-weight: bolder; ">
            <fieldset>
                <legend>Connections :</legend>
                @Html.DropDownList("connection", (SelectList)ViewBag.Connections, new { onchange = "selectSchema();" })
            </fieldset>
        </div>
        <div id="divcommand">
            <fieldset>
                <legend>Query</legend>
                <textarea id="commandValue" name="commandValue" cols="50" rows="5" style="font-family: arial;font-size: 12px; font-weight: bold;">
                    @ViewBag.command
                </textarea>
            </fieldset>
            <input type="button" name="name" value="Run Command" onclick="GetResult();" />
        </div>
        <div id="divwizard" style="display: none;">
            <fieldset>
                <legend> Select Items </legend>
                <div style="width: 100px; float: left">Schema :</div><div style="float: left; width: 150px;">
                    <select id="schema" name="schema" onchange="selectTable();"></select>
                </div>
                <div style="width: 100px; float: left">Table :</div><div style="float: left; width: 150px;">
                    <select id="table" name="table" onchange="selectColumn();"></select>
                </div>
                <div id="divColumn" style="float: left; width: 800px;">

                </div>
            </fieldset>
            <input type="button" name="name" value="Run Command" onclick="GetWizardResult();" />
        </div>
        <div id="divResult"></div>
    </div>
}
