@using System.Globalization
@using System.Threading
@using Radyn.Web.Mvc
@using Radyn.WebApp.AppCode.Security
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width" name="viewport">
    @{
        if (SessionParameters.CurrentCongress != null && SessionParameters.CurrentCongress.Configuration != null && SessionParameters.CurrentCongress.Configuration.FavIcon != null)
        {
            <link rel="icon" type="image/png" href="@Radyn.FileManager.FileManagerContants.FileHandlerRoot@SessionParameters.CurrentCongress.Configuration.FavIcon" />
        }
        else
        {
            <link rel="icon" type="image/png" href="/Areas/Congress/Content/Images/homa-icon.png" />
        }
    }



    @{Html.Radyn().Theme("RadynBase").Render(); }

    <script>
        function RefreshCaptcha() {
            document.getElementById('captcha').src = '@Url.Content("~/RadynMVCControls/CaptchaNum/")' + new Date().getTime();
        }

        $(document).ready(function () {
            $("form").attr("enctype", "multipart/form-data");
            $('input[type="submit"]').click(function () {
                ShowPostBackLoader();
            });
            ShowRadynMessage();
            HidePostBackLoader();
        });
        
        

      


    </script>

    @RenderSection("Head")
    <link href="@Url.Content("/App_Themes/RadynBase/CSS/" + Resources.Design.RadynDirection)" rel="stylesheet" />
    
</head>
<body>
<div class="loading-box" style="display: none">
    <div class="loading"></div>
</div>
<div id="DivMasterMainBody">
    @RenderBody()
</div>
<div id="radynMessage"></div>

<div id="ModalForm"></div>
</body>

</html>
