@using Radyn.Utility
@using Radyn.Web.Mvc;

@model System.Collections.Generic.IEnumerable<Radyn.ContentManager.DataStructure.Content>
    @{
        ViewBag.Title = Resources.ContentManager.ContentList;
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
    @section Head{
    }
    @section PageTitle
{
        @Resources.ContentManager.ContentList
    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/CongressContent/Create")).Text(Resources.ContentManager.NewContent).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }
        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "window.location='/Security/User/Menu?oid=" + Radyn.Common.Constants.OperationId.CongressOperationId + "'" }).Render(); }
        </div>

    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/CongressContent/Create")).Text(Resources.ContentManager.NewContent).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }

        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "window.location='/Security/User/Menu?oid=" + Radyn.Common.Constants.OperationId.CongressOperationId + "'" }).Render(); }
        </div>
    }

    <div class="radynForm">
        <div class="grid-guid">
            <div class="grid-guid-title">
                @Resources.Common.Help
            </div>
            <ul>
                <li>
                    <img src="/Content/Images/details.png">
                    @Resources.Common.Detail
                </li>
                <li>
                    <img src="/Content/Images/Delete-Close.png">
                    @Resources.Common.Delete
                </li>
                <li>
                    <img src="/Content/Images/edit.png">
                    @Resources.Common.Edit
                </li>
            </ul>
        </div>
        <div class="fit">
            @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%; margin: 1% auto;text-align: center" }).Columns(columns =>
          {
              columns.Template(content => content.PageName).Title(Resources.ContentManager.PageName).Width(200).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(content => content.Enabled ? Resources.Common.Enable : Resources.Common.Disable).Title(@Resources.Common.Enable).Width(50).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(content => content.StartDate).Title(Resources.ContentManager.StartDate).Width(70).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(content => content.ExpireDate).Title(Resources.ContentManager.ExpireDate).Width(70).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(content => content.Link).Title(Resources.ContentManager.Link).Width(300).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(content =>
              "<a style='cursor: pointer;'  href='" + Url.Content("~/Congress/CongressContent/Details?Id=" + content.Id) + "'>" +
              " <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "' src='" + Url.Content("~/Content/Images/details.png") + "' />" + "</a> | " +
              "<a style='cursor: pointer;'  href='" + Url.Content("~/Congress/CongressContent/Edit?Id=" + content.Id) + "'> " +
              " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a> | " +
              "<a style='cursor: pointer;'  href='" + Url.Content("~/Congress/CongressContent/Delete?Id=" + content.Id) + "'>" +
              " <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a> ").Width(100).Encode(false).Filterable(false);


          })
          //
          .Sortable(sorting => sorting.Enabled(true))
          .Pageable(paging => paging.Enabled(true))
          .Filterable(filtering => filtering.Enabled(true))
          //            .Footer(true)
          .Render();}

        </div>
    </div>
