@using Radyn.FileManager
@using Radyn.FormGenerator.Tools
@using Radyn.WebApp.Areas.Congress.Tools
@using Radyn.WebApp.Areas.FormGenerator.Tools
@model Radyn.Congress.DataStructure.User
<input type="hidden" value="@Model.Id" name="UserId" id="UserId" />
<div class="users-page full-size detail">
    <div class="item-input">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Number
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.Number)
            </div>
        </div>
    </div>
    <div class="item-input">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.UserName
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.Username)
            </div>
        </div>
    </div>
    <div id="divEnterpriseNodeModify">
       
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.FirstName

                </div>
            </div>
            <div class="table-row-item readonly">
                <div class="item">
                    @Model.EnterpriseNode.RealEnterpriseNode.FirstName
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.LastName
                </div>
            </div>
            <div class="table-row-item readonly">
                <div class="item">
                    @Model.EnterpriseNode.RealEnterpriseNode.LastName
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Gender

                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @((Model.EnterpriseNode.RealEnterpriseNode.Gender.HasValue && (bool)Model.EnterpriseNode.RealEnterpriseNode.Gender) ? Resources.EnterPriseNode.Male : Resources.EnterPriseNode.Female)
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Email
                </div>
            </div>
            <div class="table-row-item readonly">
                <div class="item">
                    <span>
                        @Model.EnterpriseNode.Email)
                    </span>
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Cellphone
                </div>
            </div>
            <div class="table-row-item readonly">
                <div class="item">
                    @Model.EnterpriseNode.Cellphone)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Tel
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Model.EnterpriseNode.Tel&nbsp;
                </div>
            </div>
        </div>
        <div class="item-row fit">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Address
                </div>
            </div>
            <div class="table-row-item table-c-fit table-fit">
                <div class="item">
                    @Model.EnterpriseNode.Address&nbsp;
                </div>
            </div>
        </div>
        @if (Model.PaymentTypeId.HasValue)
        {
            <div class="item-input">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Congress.ParticipationType
                    </div>
                </div>
                <div class="table-row-item readonly">
                    <div class="item">
                        @Model.PaymentType.Title
                    </div>
                </div>
            </div>
        }
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Picture
                </div>
            </div>
            <div class="table-row-item readonly">
                <div class="item">

                    @if (Model.EnterpriseNode.PictureId.HasValue)
                    {
                        Html.RadynFile().Image().ID(Model.EnterpriseNode.PictureId.Value).Height(50).Width(50).OtherAttribute(new { style = "cursor: pointer", onclick = "window.location='" + FileManagerContants.FileHandlerRoot + Model.EnterpriseNode.PictureId + "?dl=true" + "';" }).Render();
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="form-generator-view">
        @{
            Html.FormGenerator(AppExtention.CongressMoudelName + "-/Congress/Userpanel/Complete", Model.GetType().Name, Model.Id.ToString(), FormState.DetailsMode);
        }
        @if (ViewBag.viewChild)
        {
            Html.RenderAction("GetChilds", "User", new { area = "Congress", Id = Model.Id });

        }
    </div>
</div>

