@using Radyn.FileManager
@using Radyn.Web.Mvc.Utility
@using Radyn.WebApp.Areas.Congress.Tools
@using Radyn.WebApp.Areas.FormGenerator.Tools

@model Radyn.Congress.DataStructure.User
<input type="hidden" value="@Model.Id" name="Id" id="Id" />
<div class="users-page full-size detail-edit ">
    @if (ViewBag.IsDirty)
    {
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Congress.UserCode
                </div>
            </div>
            <div class="table-row-item readonly">
                <div class="item">
                    @Html.DisplayFor(model => model.Number)
                </div>
            </div>
        </div>
    }
    <div class="item-input">
        <div class="table-row-cap">
            <div class="item">

                <div style="float: right">
                    @Resources.Congress.UserName
                </div>
                <div style="float: right;color: red">
                    *
                </div>
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.EditorFor(model => model.Username, new { autocomplete = "off" })
            </div>
        </div>
    </div>
    @if (ViewBag.showpassword)
    {
<div class=" fit">
    <div>
        <div class="item-input  width50percent" >
            <div class="table-row-cap">
                <div class="item">

                    <div style="float: right">
                        @Resources.Congress.Password
                    </div>
                    <div style="float: right;color: red">
                        *
                    </div>
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.PasswordFor(model => model.Password)
                </div>
            </div>
        </div>
        <div class="item-input width50percent">
            <div class="table-row-cap">
                <div class="item">
                   
                    <div style="float: right">
                        @Resources.Congress.RepeatPassword
                    </div>
                    <div style="float: right;color: red">
                        *
                    </div>
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.Password("RepeatPassword")

                </div>
            </div>
        </div>
    </div>
</div>
    }
    <div id="divEnterpriseNodeModify">

        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                   
                    <div style="float: right">
                        @Resources.EnterPriseNode.FirstName
                    </div>
                    <div style="float: right;color: red">
                        *
                    </div>
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.TextBox("FirstName", Model.EnterpriseNode.RealEnterpriseNode.FirstName)
                </div>
            </div>
        </div>

        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                   
                    <div style="float: right">
                        @Resources.EnterPriseNode.LastName
                    </div>
                    <div style="float: right;color: red">
                        *
                    </div>
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.TextBox("LastName", Model.EnterpriseNode.RealEnterpriseNode.LastName)
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                   
                    <div style="float: right">
                        @Resources.EnterPriseNode.Gender
                    </div>
                    <div style="float: right;color: red">
                        *
                    </div>
                </div>
            </div>
            <div class="table-row-item drp ">
                <div class="item">
                    @Html.RadioButton("Gender", true, Model.EnterpriseNode.RealEnterpriseNode.Gender != null && (bool)Model.EnterpriseNode.RealEnterpriseNode.Gender) @Resources.EnterPriseNode.Male
                    @Html.RadioButton("Gender", false, Model.EnterpriseNode.RealEnterpriseNode.Gender != null && (bool)!Model.EnterpriseNode.RealEnterpriseNode.Gender)@Resources.EnterPriseNode.Female
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    <div style="float: right">
                        @Resources.EnterPriseNode.NationalCode
                    </div>
                    <div style="float: right;color: red">
                        *
                    </div>
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.TextBox("NationalCode", Model.EnterpriseNode.RealEnterpriseNode.NationalCode != null ? Model.EnterpriseNode.RealEnterpriseNode.NationalCode.Trim() : "")
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                   
                    <div style="float: right">
                        @Resources.EnterPriseNode.Email
                    </div>
                    <div style="float: right;color: red">
                        *
                    </div>
                </div>
            </div>
            @if ((Model != null && string.IsNullOrEmpty(Model.EnterpriseNode.Email)) || (ViewBag.IsAdmin != null && ViewBag.IsAdmin))
            {
                <div class="table-row-item">
                    <div class="item">
                        @Html.TextBox("Email", Model.EnterpriseNode.Email, new { autocomplete = "off" })
                    </div>
                </div>
            }
            else
            {
                <div class="table-row-item readonly">
                    <div class="item">
                        @Html.DisplayFor(model => model.EnterpriseNode.Email)
                        <input type="hidden" name="Email" id="Email" value="@Model.EnterpriseNode.Email" autocomplete="off" />
                    </div>
                </div>
            }
        </div>

        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">

                    <div style="float: right">
                        @Resources.EnterPriseNode.Cellphone
                    </div>
                    <div style="float: right;color: red">
                        *
                    </div>
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.TextBox("Cellphone", Model.EnterpriseNode.Cellphone)
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Tel
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.EditorFor(model => model.EnterpriseNode.Tel)
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Address
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.EditorFor(model => model.EnterpriseNode.Address)
                </div>
            </div>
        </div>
        @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
        {
            <div class="item-input">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Congress.ParticipationType
                    </div>
                </div>
                <div class="table-row-item">
                    <div class="item">
                        @Html.DropDownListFor(x => x.PaymentTypeId, (SelectList)ViewBag.paymentTypes)
                    </div>
                </div>
            </div>

        }
    @if (ViewBag.ShowImage != null && ViewBag.ShowImage)
    {
        <div class="item-input file-upload">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Photo
                    <span>
                        @Resources.EnterPriseNode.MaxFileLength (200KB)
                    </span>
                </div>
            </div>
            <div class="table-row-item drp ">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new {area = "FileManager", filePropName = "PictureId", showimage = true, fileid = Model.EnterpriseNode.PictureId, fileName = "Image"});
                    }
                </div>
            </div>
        </div>
    }

    </div>
    <div class="form-generator">
        @{
            Html.FormGenerator(AppExtention.CongressMoudelName + "-/Congress/Userpanel/Complete", Model.GetType().Name, Model.Id.ToString());
        }
        @{
            if (ViewBag.viewChild)
            {
                Html.RenderAction("GetChilds", "User", new { area = "Congress", Id = Model.Id, enableedit = true });
            }
        }
    </div>
</div>