@using Radyn.Web.Mvc
@using Radyn.WebApp


<script type="text/javascript">

    function Searchlocation() {
        var points = $("#@ViewBag.hidenId").val();
       ShowModal('/Common/Map/FullSearch?points=' + points + "&hidenId=" + '@ViewBag.hidenId' + "&callback='loadlocationSearchControlForm()'&pageMode=" + '@ViewBag.pageMode' + "&defaultpoint=" + '@ViewBag.defaultpoint' +"&maxdistant="+'@ViewBag.maxdistant'+'');
    }

    function loadlocationSearchControlForm() {
        var val =$("#@ViewBag.hidenId").val();
        if (val != "") {
            @Html.Raw((string)ViewBag.callback);
        }

    }

</script>
<div>
    @Html.Hidden((string)ViewBag.hidenId, (ViewBag.points != null ? (string)ViewBag.points : null))

    <a onclick="Searchlocation()">
        <i class="fas fa-map-marker-alt"></i>
    </a>

</div>



