@using Radyn.Utility
@using Radyn.Web.Mvc

@model IEnumerable<Radyn.Congress.DataStructure.BoothOfficer>
                      <script type="text/javascript">

        function DeleteAuthor(Id) {
            if (confirm('@Resources.Common.Are_You_Soure_For_Delete')) {
                $.get("@Url.Content("~/Congress/Booth/DeleteBoothOfficer")", { Id: Id, id: new Date().getTime() }, function (data) {
                    if (data == "true") {
                        $("#" + Id).slideUp();
                    }
                    BoothOfficerList();
                    ShowRadynMessage();
                });
            }


        }
        function PrintBoothOfficerCard(id) {
            ShowPostBackLoader();
            $.get("@Url.Content("~/Congress/ReportPanel/PrintBoothOfficerCard")", { id: id, userId: '@ViewBag.userId', boothId: '@ViewBag.boothId', date: new Date().getTime() }, function (data) {
                if (data != "false") {
                     window.open('@Url.Content("~/ReportBuilder/ReportView")');
                }
                ShowRadynMessage();
            }).complete(function () {
                HidePostBackLoader();
            });
        }

        function Cancle() {
            $("#DivBoothOfficer").slideUp();
        }
        function EditBoothOfficer(Id) {
            ShowModal("@Url.Content("~/Congress/Booth/GetBoothOfficer")", { Id: Id, date: new Date().getTime() });
          
        }

                      </script>

    @if (!ViewBag.hiddenEdit)
    {
        <div>
            <div class="item">

                <div class="add-new m-btn waves-yellow i-add" style="    margin: 11px;">
                    @{Html.Radyn().ImageActionLink().Text(Resources.Congress.BoothOfficer + " " + Resources.Common.New).Align(Resources.Design.Align.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(Resources.Design.Align.ToEnum<ImageActionLink.Position>()).OtherAttribute(new { onclick = "EditBoothOfficer();" }).Render(); }
                </div>

            </div>
        </div>
    }
    <div class="fit" id="DivBoothOfficer">
    </div>
    @if (Model.Any())
    {
        <div class="fit">


            @{
                Html.Radyn().Grid(Model).Name("BoothOfficerGrid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
                {
                    columns.Template(boothOfficer => boothOfficer.EnterpriseNode.DescriptionField).Title(Resources.Congress.Name).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(boothOfficer => boothOfficer.EnterpriseNode.Email).Title(Resources.Congress.Email).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(boothOfficer => boothOfficer.EnterpriseNode.Cellphone).Title(Resources.EnterPriseNode.Cellphone).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(boothOfficer => "<a style='cursor: pointer;' onclick=\"PrintBoothOfficerCard('" + boothOfficer.Id + "')\">" +
            " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a>").Title(Resources.Common.Print).Encode(false).Width(80).HeaderHtmlAttributes(new { style = "text-align:center" }).Visible(ViewBag.AllowPrintCard);
                    columns.Template(boothOfficer =>
           "<a style='cursor: pointer;'  onclick= \"EditBoothOfficer('" + boothOfficer.Id + "')\" >" +
           " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a> | " +
           "<a style='cursor: pointer;'  onclick = \"DeleteAuthor('" + boothOfficer.Id + "')\"  >" +
           " <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a>  ").Encode(false).Width(300).Visible(!ViewBag.hiddenEdit).Encode(false).Filterable(false);
                })
                    //
                    .Sortable(sorting => sorting.Enabled(true))
                    .Pageable(paging => paging.Enabled(true))
                    //.Filterable(filtering => filtering.Enabled(true))
                    //                          .Footer(true)
                    .Render();
            }
        </div>
    }



