@using Radyn.FileManager
@using Radyn.Web.Mvc.Utility

@model Radyn.Congress.DataStructure.BoothOfficer
<script type="text/javascript">
    function SaveData() {
        $.post("@Url.Content("~/Congress/Booth/GetBoothOfficer")", $('form[action^="@Url.Content("~/Congress/Booth/GetBoothOfficer")"]').serialize(), function (data) {
            if (data != 'false') {
                Close_thisModal();
                BoothOfficerList();
            }
            ShowRadynMessage();
        });
    }
</script>
@using (Html.BeginForm())
{
    <div class="fit">
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.PrefixTitle
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DropDownList("PrefixTitleId", (SelectList)ViewBag.PrefixTitleList, "")
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.FirstName
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.TextBox("FirstName", Model.EnterpriseNode.RealEnterpriseNode.FirstName)
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.LastName
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.TextBox("LastName", Model.EnterpriseNode.RealEnterpriseNode.LastName)
                </div>
            </div>
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Gender

                </div>
            </div>
            <div class="table-row-item drp readonly">
                <div class="item">
                    @Html.RadioButton("Gender", true, Model.EnterpriseNode.RealEnterpriseNode.Gender != null && (bool)Model.EnterpriseNode.RealEnterpriseNode.Gender) @Resources.EnterPriseNode.Male
                    @Html.RadioButton("Gender", false, Model.EnterpriseNode.RealEnterpriseNode.Gender != null && (bool)!Model.EnterpriseNode.RealEnterpriseNode.Gender)@Resources.EnterPriseNode.Female
                </div>
            </div>
        </div>

        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Email
                </div>
            </div>


            @if (Model != null && string.IsNullOrEmpty(Model.EnterpriseNode.Email))
            {
                <div class="table-row-item ">
                    <div class="item">
                        @Html.TextBox("Email")
                    </div>
                </div>

            }
            else
            {
                <div class="table-row-item readonly ">
                    <div class="item">
                        @Html.DisplayFor(model => model.EnterpriseNode.Email)
                        <input type="hidden" name="Email" id="Email" value="@Model.EnterpriseNode.Email" />
                    </div>
                </div>
            }
        </div>
        <div class="item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Cellphone
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.TextBox("Cellphone", Model.EnterpriseNode.Cellphone)
                </div>
            </div>
        </div>
        <div class="fit item-input">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Congress.Address
                </div>
            </div>
            <div class="table-row-item table-fit">
                <div class="item">
                    <div class="width80percent page-align">
                        @Html.TextBox("Address", Model.EnterpriseNode.Address)
                    </div>

                </div>
            </div>
        </div>

        
        
        <div class="item-input file-upload">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.EnterPriseNode.Photo
                    <span>
                        @Resources.EnterPriseNode.MaxFileLength (200KB)
                    </span>
                </div>
            </div>
            <div class="table-row-item drp ">
                <div class="item">
                    @{
                        Html.RadynAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "PictureId", showimage = true, fileid = Model.EnterpriseNode.PictureId, fileName = "BoothOfficerImage" });
                    }
                </div>
            </div>
        </div>
        
        
        






        <div class="fit item-input" style="min-height: inherit">
            <div class="button-div m-btn waves-green">
                <a onclick="SaveData()"> @Resources.Common.Save</a>
                <i class="fas fa-save"></i>

            </div>
            <div class="button-div m-btn waves-red ">
                <a onclick="Cancle()">@Resources.Common.Cancel</a>
                <i class="fas fa-undo"></i>
            </div>
        </div>
        <input type="hidden" value="@Model.Id" name="BoothOfficerId" id="BoothOfficerId" />
    </div>
}