@using Radyn.FileManager
@using Radyn.Utility
@using Radyn.WebDesign.Definition

@model Radyn.WebDesign.DataStructure.Resource 
    <div class="radynForm">
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.WebDesign.Language
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.LanuageId)
                </div>
            </div>
        </div>
        
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.WebDesign.Type
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @(((Enums.ResourceType)Model.Type).GetDescriptionInLocalization())
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.WebDesign.Order
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.Order)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.WebDesign.Text
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.Text)
                </div>
            </div>
        </div>
       
        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.WebDesign.File
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @if (Model.FileId.HasValue)
                    {
                        Html.RadynFile().Image().ID(Model.FileId.Value).DeleteButtonVisible("FileId").Height(98).Width(146).Download().Render();

                    }
                </div>
            </div>
        </div>
        </div>
