    @using Radyn.Congress.Tools
@using Radyn.FileManager
@using Radyn.Utility
@model Radyn.Congress.DataStructure.SupportType

<style>
    div.mark-first span {
        color: red;
    }

    div.mark-first strong {
        font-weight: bold;
    }
</style>




<section class="section-supporters-box">

    <div class="owl-carousel owl-theme">


        @if (Model.Supporters != null && Model.Supporters.Count > 0 && ViewBag.ImagesCount > 0)
        {


            for (int index = 0; index <= (Model.Supporters.Count() - 1); index++)
            {




                if (index < Model.Supporters.Count)
                {
                    var style = "";
                    if (Model.Supporters.Count() == 1)
                    {
                        style = "margin:10px auto;";
                    }

                    else
                    {

                        style = " margin-top: 10px; float: " + Resources.Design.Align + "; margin-" + Resources.Design.Align + ": 8px;";
                    }
                    <div class="supporters-box item" id="div-@Model.Supporters[index].Id" style="@style">
                        @if (!string.IsNullOrEmpty(Model.Supporters[index].WebSite))
                        {
                            switch ((Enums.SupporterShowType)Model.ShowType)
                            {
                                case Enums.SupporterShowType.ImageAndTitle:
                                    if (!string.IsNullOrEmpty(Model.Supporters[index].Image))
                                    {
                                        <a target="_blank" href="@Model.Supporters[index].WebSite">
                                            @if (!string.IsNullOrEmpty(Model.Supporters[index].Image))
                                            {
                                                <img src="/RadynFileHandler/@Model.Supporters[index].Image.ToGuid()" height="100" width="100" style="border: solid 1px grey;" alt="@Model.Supporters[index].Title" title="@Model.Supporters[index].Title" />
                                            }
                                            else
                                            {
                                                @Model.Supporters[index].Title
                                            }
                                        </a>
                                    }
                                    break;
                                case Enums.SupporterShowType.Image:
                                    if (!string.IsNullOrEmpty(Model.Supporters[index].Image))
                                    {
                                        <a target="_blank" href="@Model.Supporters[index].WebSite">
                                            @if (!string.IsNullOrEmpty(Model.Supporters[index].Image))
                                            {
                                                <img src="/RadynFileHandler/@Model.Supporters[index].Image.ToGuid()" height="100" width="100" style="border: solid 1px grey;" alt="@Model.Supporters[index].Title" title="@Model.Supporters[index].Title" />
                                            }
                                        </a>
                                    }
                                    break;
                                case Enums.SupporterShowType.OnlyTitle:
                                    <a target="_blank" href="@Model.Supporters[index].WebSite">
                                        @Model.Supporters[index].Title
                                    </a>
                                    break;

                            }

                        }
                        else
                        {
                            switch ((Enums.SupporterShowType)Model.ShowType)
                            {
                                case Enums.SupporterShowType.ImageAndTitle:
                                    if (!string.IsNullOrEmpty(Model.Supporters[index].Image))
                                    {
                                        <img src="/RadynFileHandler/@Model.Supporters[index].Image.ToGuid()" height="100" width="100" style="border: solid 1px grey;" alt="@Model.Supporters[index].Title" title="@Model.Supporters[index].Title" />
                                    }
                                    else
                                    {
                                        @Model.Supporters[index].Title
                                    }

                                    break;
                                case Enums.SupporterShowType.Image:
                                    if (!string.IsNullOrEmpty(Model.Supporters[index].Image))
                                    {
                                        <img src="/RadynFileHandler/@Model.Supporters[index].Image.ToGuid()" height="100" width="100" style="border: solid 1px grey;" alt="@Model.Supporters[index].Title" title="@Model.Supporters[index].Title" />
                                    }
                                    break;
                                case Enums.SupporterShowType.OnlyTitle:
                                    @Model.Supporters[index].Title
                                    break;

                            }
                        }
                    </div>
                }
            }



        }
    </div>
</section>