@using Radyn.EnterpriseNode.Tools
@using Radyn.FileManager
@model IEnumerable<Radyn.Congress.DataStructure.VIP>


    <div class="section-person-info bg-dots">

        <div class="container">
            <h2 class="widget-title head-event">
                <span class="mini-head" style="display: none">نگاهی به</span>
                <span class="big-head">@Resources.Congress.SpecialGuests </span>
                <i style="display: none">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71px" height="11px">
                        <path fill-rule="evenodd" d="M59.669,10.710 L49.164,3.306 L39.428,10.681 L29.714,3.322 L20.006,10.682 L10.295,3.322 L1.185,10.228 L-0.010,8.578 L10.295,0.765 L20.006,8.125 L29.714,0.765 L39.428,8.125 L49.122,0.781 L59.680,8.223 L69.858,1.192 L70.982,2.895 L59.669,10.710 Z"></path>
                    </svg>
                </i>
            </h2>


            <div class="owl-carousel owl-theme">
                @foreach (var vip in Model)
                {
                    <div class="item">
                        <a href="javascript:;" onclick="window.open('@Url.Content("~/Congress/VIP/VIPDetail/" + vip.Id)', '', 'scrollbars=yes, resizable=yes, copyhistory=yes, width=800, height=500');">
                            @if (vip.EnterpriseNode != null && vip.EnterpriseNode.PictureId.HasValue)
                            {
                                Html.RadynFile().Image().ID(vip.EnterpriseNode.PictureId.Value).Render();
                            }
                        </a>
                        <div class="footer-person-item">

                            <label> @vip.EnterpriseNode.Title()</label>
                            <span>@vip.Role</span>
                        </div>
                        <div class="footer-social-media">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-telegram-plane"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                            <a href="javascript:;" class="see-profile" onclick="window.open('@Url.Content("~/Congress/VIP/VIPDetail/" + vip.Id)', '', 'scrollbars=yes, resizable=yes, copyhistory=yes, width=800, height=500');">@Resources.Congress.ViewProfile</a>
                        </div>
                    </div>
                }
            </div>


        </div>
    </div>
    





