@using Radyn.Web.Mvc;
@using Radyn.WebApp.AppCode.Base
@using Radyn.WebApp.Areas.Common.Component
@model Radyn.Congress.DataStructure.Pivot
@{
    ViewBag.Title = Resources.Common.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle
{
    @Resources.Common.Edit

}
@section PageAction
{
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveAndNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "FormSubmitAction('" + FormSubmitAction.SaveAndNew + "');" }).Render(); }
    </div>
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveAndNewLanguage).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "FormSubmitAction('" + FormSubmitAction.SaveAndNewLanguage + "');" }).Render(); }
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/Pivot/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveAndNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "FormSubmitAction('" + FormSubmitAction.SaveAndNew + "');" }).Render(); }
    </div>
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveAndNewLanguage).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "FormSubmitAction('" + FormSubmitAction.SaveAndNewLanguage + "');" }).Render(); }
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/Pivot/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>

}
@Html.ValidationSummary(true)
<div class="radynForm">
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Title
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @{
                    Html.LanguageContentTextBoxFor(Model, x => x.Title);
                }
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Order
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.EditorFor(model => model.Order)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Category
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.DropDownListFor(model => model.PivotCategoryId, (SelectList)ViewBag.Category, "");
            </div>
        </div>
    </div>
</div>
