@using Radyn.Web.Mvc;
@model Radyn.Congress.DataStructure.GroupRegisterDiscount
<script type="text/javascript">
    $(document).ready(function () {
        ShowCurency('@Model.IsPrecent');
    });
    function ShowCurency(value) {
        if (value == "True") {
            $("#CurrencyType").hide();
            $('#DiscountValue').text('@Resources.Congress.DiscountValue');
        } else {
            $("#CurrencyType").show();
            $('#DiscountValue').text('@Resources.Congress.Amount');
        }

    }
</script>
<div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.From
            </div>
        </div>
        <div class="table-row-item ">
            <div class="item">
                @Html.EditorFor(model => model.From)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.To
            </div>
        </div>
        <div class="table-row-item ">
            <div class="item">
                @Html.EditorFor(model => model.To)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.IsPrecent
            </div>
        </div>
        <div class="table-row-item drp">
            <div class="item">
                @Html.RadioButtonFor(model => model.IsPrecent, true, new { onclick = "ShowCurency('True')" })@Resources.Payment.Percent
                @Html.RadioButtonFor(model => model.IsPrecent, false, new { onclick = "ShowCurency('False')" })@Resources.Payment.AmontValue
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item" id="DiscountValue">

            </div>
        </div>
        <div class="table-row-item text-drop ">
            <div class="item ">
                <div style="float: right">
                    @Html.EditorFor(model => model.ValidAmount)
                </div>
                <div style="float: right; margin-right: 4px">
                    @Html.DropDownListFor(model => model.CurrencyType, (SelectList)ViewBag.Currency)
                </div>
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Common.Enable
            </div>
        </div>
        <div class="table-row-item drp">
            <div class="item">
                @Html.RadioButtonFor(model => model.Enable, true)@Resources.Common.Enable
                @Html.RadioButtonFor(model => model.Enable, false)@Resources.Common.Disable
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.StartDate
            </div>
        </div>
        <div class="table-row-item ">
            <div class="item date-picker">
                @{Html.Radyn().PersianDateTimePickerFor(Model, model => model.StartDate).Render(); }
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.EndDate
            </div>
        </div>
        <div class="table-row-item ">
            <div class="item date-picker">

                @{Html.Radyn().PersianDateTimePickerFor(Model, model => model.EndDate).Render(); }
            </div>
        </div>
    </div>
</div>


