@using Radyn.FileManager
@using Radyn.Web.Mvc;

@model Radyn.Congress.DataStructure.CongressDefinition
@{
    ViewBag.Title = Resources.Common.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{
   
}


@section PageTitle
{
    Edit All Reports

}
@section PageAction
{
    <div class="button-div" id="DivCetificatePrint1">
        @{Html.Radyn().ImageActionLink().Text(@Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/printer-certificate.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }


    </div>

}

@section PageActionDown
{
    <div class="button-div" id="DivCetificatePrint2">
        @{Html.Radyn().ImageActionLink().Text(@Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/printer-certificate.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>

}
<div>
    <div class="radynForm">


        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.User
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptUserId", fileid = Model.RptUserId, fileName = "RptUserId-Uploader" });

                    }
                    
                </div>
            </div>
        </div>
        <div >
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.Hotel
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptHotelUserId", fileid = Model.RptHotelUserId, fileName = "RptHotelUserId-Uploader" });

                    }
                    

                </div>
            </div>
        </div>

        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.WorkShop
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptWorkShopUserId", fileid = Model.RptWorkShopUserId, fileName = "RptWorkShopUserId-Uploader" });

                    }
                   
                </div>
            </div>
        </div>

        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.Abstract
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptAbstractArticleId", fileid = Model.RptAbstractArticleId, fileName = "RptAbstractArticleId-Uploader" });

                    }
                    

                </div>
            </div>
        </div>

        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.Certificate
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptArticleCertificateId", fileid = Model.RptArticleCertificateId, fileName = "RptArticleCertificateId-Uploader" });

                    }


                  

                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.ChipFood
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptArticleCertificateId", fileid = Model.RptArticleCertificateId, fileName = "RptChipFoodId-Uploader" });

                    }
                   

                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.DesignUserMiniCard
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptArticleCertificateId", fileid = Model.RptArticleCertificateId, fileName = "RptMiniUserCardId-Uploader" });

                    }

                   
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.Card @Resources.Congress.User
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptUserCardId", fileid = Model.RptUserCardId, fileName = "RptUserCardId-Uploader" });

                    }

                   

                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.BoothOfficer
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptBoothOfficerId", fileid = Model.RptBoothOfficerId, fileName = "RptBoothOfficerId-Uploader" });

                    }

                   

                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.Booth
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptUserBoothId", fileid = Model.RptUserBoothId, fileName = "RptUserBoothId-Uploader" });

                    }
                  
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @string.Format(Resources.Congress.Article, SessionParameters.CurrentCongress.Configuration.ArticleTitle)
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptArticleId", fileid = Model.RptArticleId, fileName = "RptArticleId-Uploader" });

                    }
                    

                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap table-c-fit">
                <div class="item">
                    @Resources.Congress.CongressCertificate
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "RptCongressCertificateId", fileid = Model.RptCongressCertificateId, fileName = "RptCongressCertificateId-Uploader" });

                    }

                   

                </div>
            </div>
        </div>

        

    </div>
</div>
