@using Radyn.Web.Mvc

@model IEnumerable<Radyn.Congress.Tools.ModelView.UserCardModel>
    <script type="text/javascript">
        function PrintCard(Id, type, ismini) {
            window.open('@Url.Content("~/Congress/ReportPanel/PrintUserCard?Id=")' + Id + "&type=" + type + "&Isadmin=" + true + "&Ismini=" + ismini);
            ShowRadynMessage();

        }

    </script>
    <div class="grid-guid">
        <div class="grid-guid-title">
            @Resources.Common.Help
        </div>
        <ul>
            <li>
                <img src="/Content/Images/printer-certificate.png">
                @Resources.Common.Print @Resources.Congress.Card
            </li>
            <li>
                <img src="/Content/Images/printer-certificate.png">
                @Resources.Congress.PrintUserMiniCard
            </li>
        </ul>
    </div>
    <div class="fit">
        @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto;text-align: center" }).Columns(columns =>
            {
                columns.Template(user => user.Number).Title(Resources.Congress.Number).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(user => user.FirstName + " " + user.LastName).Title(Resources.EnterPriseNode.FirstName).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(user => user.UseName).Title(Resources.Congress.UserName).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(user => user.Type).Title(Resources.Congress.Type).HeaderHtmlAttributes(new { style = "text-align:center" });
                columns.Template(userCardModel => " <img title='" + Resources.Common.Print + " " + Resources.Congress.Card + "'  style='cursor: pointer' src='" + Url.Content("~/Content/Images/printer-certificate.png") + "'    onclick=\"PrintCard('" + userCardModel.Id + "','" + userCardModel.CardId + "','false');\" /img>").Title(Resources.Common.Print + " " + Resources.Congress.Card).HeaderHtmlAttributes(new { style = "text-align:center" }).Encode(false).Filterable(false);
                columns.Template(userCardModel => " <img title='" + Resources.Congress.PrintUserMiniCard + "'  style='cursor: pointer'  src='" + Url.Content("~/Content/Images/printer-certificate.png") + "'    onclick=\"PrintCard('" + userCardModel.Id + "','" + userCardModel.CardId + "','true');\" /img>").Title(Resources.Congress.PrintUserMiniCard).HeaderHtmlAttributes(new { style = "text-align:center" }).Encode(false).Filterable(false);

            })

                    .Sortable(sorting => sorting.Enabled(true))
                    .Pageable(paging => paging.Enabled(false))
                    .Filterable(filtering => filtering.Enabled(true))
                    //.Footer(true)
                    .Render();}
    </div>
