@using Radyn.Utility
@model Radyn.Congress.DataStructure.CustomMessage
@Html.ValidationSummary(true)
<div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Type
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Model.Type.GetDescriptionInLocalization()
            </div>
        </div>
    </div>
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.SMSBody
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.SmsText)
            </div>
        </div>
    </div>
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.EmailBody
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.EmailText)
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
</div>
