@using Radyn.Common.Component
@using Radyn.Web.Mvc;
@using Radyn.Utility;
@using Radyn.WebApp.Areas.Common.Tools
@using System.Web.Mvc
@using Radyn.Congress.Tools
@using Radyn.WebApp.AppCode.Security

@model Radyn.Congress.DataStructure.CustomMessage
@{Html.Radyn().Theme("RadynEditor").Render(); }
<script type="text/javascript">
    $(function () {
        GetKeys();
        $('#EmailText').summernote({
            lang: '@SessionParameters.Culture',
            focus: true,
            height: 250,
            disablelink: true,
            elementname: 'EmailText',
            disableselectimage: true,
            codemirror: {
                theme: 'united'
            }
        });

    })

    function GetKeys() {
        var type = $('#Type').val();
        $.get('/Congress/CustomMessage/GetMessageKeys', { key: type }, function (data) {
            $('#helpKeys').html('');
            $('#helpKeys').html(data);
        })
    }
</script>
<div>
    @* <div class="r-notify r-notify-info r-notify-big" style="width: 97%;"> *@
    @*     <span> *@
    @*         <i class="fas fa-info"> </i> *@
    @*     </span> *@
    @*     <p> *@
    @*         برای استفاده از کلید ها کلیک کنید *@
    @*     </p> *@
    @* *@
    @* </div> *@
    <div id="helpKeys"></div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @{
                    @Resources.Congress.Type
                }
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.DropDownListFor(model => model.Type, (SelectList)ViewBag.SelectType, new { onchange = "GetKeys()" })
            </div>
        </div>
    </div>

    <div class="fit">

        <div class="item-row full_width">
            <div class="table-row-cap">
                <div class="item">

                    @Resources.Congress.SMSBody

                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.TextAreaFor(model => model.SmsText)
                </div>
            </div>
        </div>
        <div class="item-row fit">
            <div class="table-row-cap">
                <div class="item">

                    @Resources.Congress.EmailBody

                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.TextAreaFor(model => model.EmailText)
                </div>
            </div>
        </div>

    </div>

</div>

