@using Radyn.Web.Mvc;
@model Radyn.Congress.DataStructure.HomaAlias
@using (Html.BeginForm("GetAlias", "Homa", new { area = "Congress" }))
{
    <script type="text/javascript">
        function EditAlias() {
            $.post("@Url.Content("~/Congress/Homa/GetAlias")", $('form[action^="@Url.Content("~/Congress/Homa/GetAlias")"]').serialize(), function (data) {
                if (data != "false") {
                    GetAliasList();
                    ShowRadynMessage();

                }
            });
            ShowRadynMessage();
        }
    </script>
    <div class="item-row full_width">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.InstallPath
            </div>
        </div>
        <div class="table-row-item table-fit">
            <div class="item">
                @Html.TextBoxFor(model => model.Url)
              
            </div>
        </div>
        <div class="button-div m-btn waves-green i-save">
            @{Html.Radyn().ImageActionLink().ImageUrl(Url.Content("~/Content/Images/Save.png")).Text(Resources.Common.Save).OtherAttribute(new { onclick = "EditAlias()" }).Render(); }
        </div>
    </div>
    <input type="hidden" value="@Model.Id" name="AliasId" id="AliasId" />
}