@using Radyn.Web.Mvc;
@using Radyn.WebApp.Areas.Common.Component
@model Radyn.Congress.DataStructure.Homa
@Html.ValidationSummary(true)
<script type="text/javascript">
    $(document).ready(function () {
        $("#DivCongressAlias").html("");
        $.get("@Url.Content("~/Congress/Homa/GetAliasListDetails")", {congressId:'@Model.Id', date: new Date().getTime() }, function (data) {
            $("#DivCongressAlias").html(data).slideDown("slow");;
        });
    });
</script>
<div class="radynForm">
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Title
            </div>
        </div>
        <div class="table-row-item table-c-fit table-fit">
            <div class="item">
                @{
                    Html.DisplayFor(x => x.CongressTitle);
                }
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.InstallPath
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.InstallPath)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.VirtualDirectory
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.VirtualDirectory)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.StartDate

            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.StartDate)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.EndDate
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.EndDate)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Common.Enable
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @(Model.Enabled ? @Resources.Common.Enable : @Resources.Common.Disable)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Order
            </div>
        </div>
        <div class="table-row-item table-c-fit ">
            <div class="item">
                @Html.DisplayFor(model => model.Order)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.HoldingDays
            </div>
        </div>
        <div class="table-row-item table-c-fit ">
            <div class="item">
                @(Model.HoldingDays.HasValue ? Model.HoldingDays.Value.ToString() : "")
            </div>
        </div>
    </div>
    <div style="display: none">
        @{
            Html.RenderAction("GenerateEnterpriseNodeDetails", "EnterPriseNode", new { Area = "EnterpriseNode", state = "Details", id = Model.OwnerId });
        }
    </div>
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.Description
            </div>
        </div>
        <div class="table-row-item table-c-fit table-fit">
            <div class="item">
                @Html.DisplayFor(x => x.Description)
            </div>
        </div>
    </div>
    <div class="fit" id="DivCongressAlias"></div>
</div>
