@using Radyn.FileManager
@using Radyn.WebApp.AppCode.Security

@model Radyn.Congress.DataStructure.ConfigurationContent
<script type="text/javascript">
    function ChangeHeaderAndFooter(isheader, fromCongress) {

        if (isheader == "True") {
            if (fromCongress == "True") {
                $("#Div-CongressHeader").show();
                $("#Div-ContentManagerHeader").hide();
            } else {
                $("#Div-CongressHeader").hide();
                $("#Div-ContentManagerHeader").show();
            }
        } else {
            if (fromCongress == "True") {
                $("#Div-CongressFooter").show();
                $("#Div-ContentManagerFooter").hide();
            } else {
                $("#Div-CongressFooter").hide();
                $("#Div-ContentManagerFooter").show();

            }
        }

    }
    $(document).ready(function () {
        ChangeHeaderAndFooter("True", '@(Model.HeaderFromContentManager?"False":"True")');
        ChangeHeaderAndFooter("False", '@(Model.FooterFromContentManager?"False":"True")');
    });
</script>
<div>
    <div class="item-row fit">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Common.Language
            </div>
        </div>
        <div class="table-row-item">
            <div class="item">
                @Html.DropDownListFor(model => model.LanguageId, (SelectList)ViewBag.Lanuages, new { onchange = "changeAttachmentCulture();" })
            </div>
        </div>
    </div>
   
    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.HomaLogo
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @{
                    Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName= "LogoId", fileid = Model.LogoId, fileName = "UploadLogoId" });
                }
                
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @string.Format(Resources.Congress.AttachRefereeFile, SessionParameters.CurrentCongress.Configuration.ArticleTitle)
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @{
                    Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "AttachRefereeFileId", fileid = Model.AttachRefereeFileId, fileName = "UploadAttachRefereeFileId" });
                }

               
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.BoothMapAttachmentId
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @{
                    Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "BoothMapAttachmentId", fileid = Model.BoothMapAttachmentId, fileName = "UploadBoothMapAttachmentId" });
                }

              

            </div>
        </div>
    </div>

    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.HallMap
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @{
                    Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "HallMapId", fileid = Model.HallMapId, fileName = "HallMapId" });
                }

              
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.HomaOrgianalposter
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @{
                    Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "OrginalPosterId", fileid = Model.OrginalPosterId, fileName = "UploadOrgianalposterId" });
                }
                

            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap table-c-fit ">
            <div class="item">
                @Resources.Congress.HomaPoster
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @{
                    Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "MiniPosterId", fileid = Model.MiniPosterId, fileName = "UploadPosterId" });
                }
               

            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.Header

            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                <div class="drp">
                    @Html.RadioButtonFor(model => model.HeaderFromContentManager, true, new { onclick = "ChangeHeaderAndFooter('" + true + "','" + false + "')" })@Resources.Congress.FromContentManager
                    @Html.RadioButtonFor(model => model.HeaderFromContentManager, false, new { onclick = "ChangeHeaderAndFooter('" + true + "','" + true + "')" })@Resources.Congress.FromUploader
                </div>
                <div style="float: right" id="Div-CongressHeader">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "HeaderId", fileid = Model.HeaderId, fileName = "UploadHeaderId" });
                    }

                </div>
                <div style="float: right" id="Div-ContentManagerHeader">
                    @Html.DropDownListFor(model => model.ContentManagerHeaderId, (SelectList)ViewBag.CongressContents, "", new { style = "width: 120px" })
                </div>



            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap table-c-fit">
            <div class="item">
                @Resources.Congress.Footer
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                <div class="drp">
                    @Html.RadioButtonFor(model => model.FooterFromContentManager, true, new { onclick = "ChangeHeaderAndFooter('" + false + "','" + false + "')" })@Resources.Congress.FromContentManager
                    @Html.RadioButtonFor(model => model.FooterFromContentManager, false, new { onclick = "ChangeHeaderAndFooter('" + false + "','" + true + "')" })@Resources.Congress.FromUploader
                </div>
                <div style="float: right" id="Div-CongressFooter">
                    @{
                        Html.RenderAction("FileUploader", "FileUpload", new { area = "FileManager", filePropName = "FooterId", fileid = Model.FooterId, fileName = "UploadFooterId" });
                    }
                   
                </div>
                <div style="float: right" id="Div-ContentManagerFooter">
                    @Html.DropDownListFor(model => model.ContentManagerFooterId, (SelectList)ViewBag.CongressContents, "", new { style = "width: 120px" })
                </div>


            </div>
        </div>
    </div>
</div>
