@using Radyn.Web.Mvc
@{
    ViewBag.Title = Resources.Security.ForgotPassword;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<div class="container-hd">
    @*    <div class="container-header">*@
    @*        <div class="container-header-item">*@
    @*            <img src="/Areas/Congress/Content/Images/UserSecurity.png" />*@
    @*            *@
    @*        </div>*@
    @*    </div>*@
    <div class="container-box">
        <div>
            @using (Html.BeginForm())
            {
                <div class="login-container-bg">
                    <div class="login-container">
                        <div class="login-header">
                            <p>@Resources.Congress.RecoverPassword</p>
                        </div>
                        <div class="login-main">
                            <span class="login-avatar">
                                <img src="/Content/Images/avatar-001.jpg" />
                            </span>
                            <div class="login-data-row input-effects">
                                <div class="login-data-row-item">
                                    <input name="username" placeholder="@Resources.Congress.UserName" id="usernamelabel" type="text" />
                                    <i class="far fa-envelope"></i>
                                    @{Html.Radyn().Validator().ID("username").GroupName("g1").Render(); }
                                </div>
                            </div>

                           
                            <div class="login-data-row input-effects">
                                <div class="login-data-row-item">
                                    <div class="captcha-box">
                                        @{Html.Radyn().Captcha().NumberMode().Render(); }
                                    </div>
                                    <input type="text" name="captch" placeholder="@Resources.Congress.Captcha" />
                                    <i class="fas fa-shield-alt"></i>

                                </div>
                            </div>

                            <div class="login-data-row">
                                <div class="login-data-row-item ">
                                    <div class="m-btn waves-yellow">
                                        @{Html.Radyn().ButtonActionLink().CallbackType(ButtonActionLink.CallbackType.post).Text(@Resources.Congress.Send).NavigateUrl("/Congress/UserPanel/Login").Submit().ID("button-yellow").Render(); }

                                </div>
                                </div>
                            </div> 
                         <div class="login-data-row">
                                <div class="login-data-row-item ">
                                    <a href="@Url.Content("~/Congress/UserPanel/ForgotPassword")" class="login-solid-btn">
                                        @Resources.Security.ForgotPassword
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
