@using System
@using Radyn.Congress.Tools
@using Radyn.FileManager
@using Radyn.Utility
@using Radyn.Web.Mvc
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.Congress.Tools
@using Radyn.WebApp.Areas.EnterpriseNode.ExtentionTools
@{
    ViewBag.Title = (SessionParameters.CongressUser != null ? SessionParameters.CongressUser.EnterpriseNode.EnterpriseNodeTitle() : "");
    Layout = "~/Areas/Congress/Views/Shared/CongressUserLayout.cshtml";
}
@section Head{
    <link href="~/App_Themes/RadynBase/CSS/home-user.css" rel="stylesheet" />
    <script type="text/javascript">
        function RegisterNewsModify() {
            var checked = $("#RegisterInNewsLetter").attr("checked") == "checked";

            $.get("@Url.Content("/Congress/User/RegisterInNewModify")",
                { userId: "@SessionParameters.CongressUser.Id", checkedModify: checked, date: new Date().getTime() },
                function(data) {
                    ShowRadynMessage();
                });
        }

    </script>
    <style>
        .c-widget, .c-widget .c-widget-head, .c-widget .c-widget-footer {
            background-color: transparent !important;
            box-shadow: none
        }
    </style>
}
@section PageTitle
{

}


<div style="text-align: center">
    @if (SessionParameters.CongressUser != null)
    {
        <div class="userloggedbase ui-theme">

            <div class="userloggedinfo user-panel-info">
                <div class="userloggedimg">

                    <div class="liner-div"></div>
                    @if (SessionParameters.CongressUser.EnterpriseNode != null && SessionParameters.CongressUser.EnterpriseNode.PictureId.HasValue)
                    {
                        Html.RadynFile().Image().ID((Guid)SessionParameters.CongressUser.EnterpriseNode.PictureId).Render();
                    }
                    else
                    {
                        if (SessionParameters.CongressUser.EnterpriseNode != null && SessionParameters.CongressUser.EnterpriseNode.RealEnterpriseNode != null && SessionParameters.CongressUser.EnterpriseNode.RealEnterpriseNode.Gender != null)
                        {
                            if (SessionParameters.CongressUser.EnterpriseNode.RealEnterpriseNode.Gender == true)
                            {
                                <img src="/Areas/Congress/Content/Images/anonymous-user-male.png" />
                            }
                            else
                            {
                                <img src="/Areas/Congress/Content/Images/anonymous-user-female.png" />
                            }
                        }
                        else
                        {
                            <img src="/Areas/Congress/Content/Images/anonymous-user-male.png" />
                        }
                    }
                    <a style="display: none" class="ebtn-info" href="/Congress/UserPanel/EditInfoUser">

                        @Resources.Congress.UserEditProfile
                    </a>
                    <a style="display: none" class="ebtn-default" href="/Congress/UserPanel/ChangePassword">
                        @Resources.Congress.ChangePassword
                    </a>
                </div>

                <div class="userinfo">
                    <b>
                        <span>
                            @SessionParameters.CongressUser.EnterpriseNode.EnterpriseNodeTitle()
                        </span>
                        <small>@(SessionParameters.CongressUser.EnterpriseNode != null ? SessionParameters.CongressUser.EnterpriseNode.Email : "")</small>
                        <small>
                            @{Html.Radyn().CheckBox().ID("RegisterInNewsLetter").Checked(SessionParameters.CongressUser.RegisterInNewsLetter).Text(Resources.Congress.RegisterInNewsLetter).OtherAttribute(new { onclick = "RegisterNewsModify();" }).Render(); }
                        </small>
                    </b>
                    <span>
                        <div>
                            @Resources.Congress.RegistrationStatus :
                            @(((Enums.UserStatus)SessionParameters.CongressUser.Status).GetDescriptionInLocalization())
                        </div>
                    </span>
                    @if (SessionParameters.CongressUser.Status != (byte)Enums.UserStatus.Register)
                    {
                        <span>
                            <div>
                                @Resources.Congress.ParticipationType :
                                @if (SessionParameters.CongressUser.PaymentType != null)
                                {
                                    @SessionParameters.CongressUser.PaymentType.Title
                                    @(!string.IsNullOrEmpty(SessionParameters.CongressUser.PaymentTypeDaysInfo) ?
                                                                  (Resources.Congress.Day + ":" + SessionParameters.CongressUser.PaymentTypeDaysInfo) : "")


                                }
                            </div>
                        </span>

                    }
                    @if (SessionParameters.CongressUser.Chair != null)
                    {
                        <span>
                            <div>
                                <p>
                                    @Resources.Reservation.ChairInformation : @Resources.Reservation.Hall : @(SessionParameters.CongressUser.Chair.Hall.ParentId.HasValue ? SessionParameters.CongressUser.Chair.Hall.ParentHall.Name + "-" + SessionParameters.CongressUser.Chair.Hall.Name : SessionParameters.CongressUser.Chair.Hall.Name)
                                </p>
                                <p>
                                    @Resources.Reservation.Row :@SessionParameters.CongressUser.Chair.Row @Resources.Reservation.Column :@SessionParameters.CongressUser.Chair.Column @Resources.Reservation.Number :@SessionParameters.CongressUser.Chair.Number
                                </p>
                            </div>
                        </span>
                    }

                </div>
            </div>
        </div>
    }
    <div class="radynForm user-panel-view" style="background: #fff; padding: 15px;">
        <div class="user-home-items">
            @if ((SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.Register || SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayDenial) && SessionParameters.CurrentCongress.Configuration.HasUserPayment)
            {
                <a href="@Url.Content("~/Congress/UserPanel/UserPayment")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.UserRegisterPayment">
                    <div class="d-item-bg">
                        <img src="@Url.Content("/Areas/Congress/Content/Images/Payment1.png")" />
                        <i class="fas fa-credit-card"></i>
                        <p>
                            @Resources.Congress.UserRegisterPayment
                        </p>
                    </div>
                </a>
            }
            <a href="@Url.Content("~/Message/InternalMail/Index?userId=" + SessionParameters.CongressUser.Id)" data-hint="@Resources.Message.Messages" class="d-item d-item-fix-height hint--top">
                <div class="d-item-bg">
                    <img src="/Areas/Congress/Content/Images/Int-email-main.png" />
                    <i class="fas fa-envelope"></i>
                    <p>
                        @Resources.Message.Messages
                        @if (ViewBag.UnreadInboxCount != null && ViewBag.UnreadInboxCount > 0)
                        {
                            <span class="r-badge">
                                <span class="r-badgewait">
                                    @ViewBag.UnreadInboxCount
                                </span>
                            </span>
                        }
                    </p>
                </div>
            </a>
            @if ((SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.ConfirmPresentInHoma || (SessionParameters.CurrentCongress.Configuration.ShoudBeUserPaymentApprovedForUserCardPrint == false)) && SessionParameters.CurrentCongress.Configuration.AllowUserPrintCard)
            {
                <a href="@Url.Content("~/Congress/ReportPanel/UserCard")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Common.List @Resources.Congress.Card">
                    <div class="d-item-bg">
                        <img src="@Url.Content("/Areas/Congress/Content/Images/id-card-main.png")" />
                        <i class="fas fa-id-card"></i>
                        <p>
                            @Resources.Congress.Cards
                        </p>
                    </div>
                </a>
            }
            @if (SessionParameters.CurrentCongress.Configuration.CanUserSelectChairs && SessionParameters.CongressUser.PaymentTypeId.HasValue)
            {
                <a href="@Url.Content("~/Congress/UserPanel/UserChair")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.SelectChair">
                    <div class="d-item-bg">
                        <i class="fas fa-couch"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/chair-main.png")" />
                        <p>
                            @Resources.Congress.SelectChair
                        </p>
                    </div>
                </a>
            }
            @if (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.ConfirmPresentInHoma && SessionParameters.CurrentCongress.Configuration.AllowUserPrintCertification)
            {
                <a href="@Url.Content("~/Congress/ReportPanel/UserCongressCertificte")" target="_blank" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.CongressCertificate">
                    <div class="d-item-bg">

                        <i class="fas fa-lock"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/received-main.png")" />

                        <p>
                            @Resources.Congress.CongressCertificate
                        </p>
                    </div>
                </a>
            }
            @if (SessionParameters.CurrentCongress.Configuration.HasHotel && (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CurrentCongress.Configuration.CanUserReserveHotelWithoutPaymentType))
            {
                <a href="@Url.Content("~/Congress/UserHotelPanel/IndexHotel")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.HotelReserve">
                    <div class="d-item-bg">
                        <i class="fas fa-building"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/Hotel1-main.png")" />
                        <p>
                            @Resources.Congress.HotelReserve
                        </p>
                    </div>
                </a>
            }

            @if (SessionParameters.CurrentCongress.Configuration.HasWorkShop && (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CurrentCongress.Configuration.CanUserReserveWorkShopWithoutPaymentType))
            {
                <a href="@Url.Content("~/Congress/UserWorkShopPanel/IndexWorkShop")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.WorkShopReserve">
                    <div class="d-item-bg">
                        <i class="fas fa-store-alt"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/WorkShop-main.png")" />
                        <p>
                            @Resources.Congress.WorkShopReserve
                        </p>
                    </div>
                </a>
            }

            @if (SessionParameters.CurrentCongress.Configuration.HasArticle && (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CurrentCongress.Configuration.CanUserSendArticleWithoutPaymentType))
            {
                <a href="@Url.Content("~/Congress/UserArticlePanel/IndexArticle")" class="d-item d-item-fix-height hint--top" data-hint="@string.Format(Resources.Congress.ArticleManage, SessionParameters.CurrentCongress.Configuration.ArticleTitle)">
                    <div class="d-item-bg">
                        <i class="fas fa-paper-plane"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/ArticlesUp-main.png")" />
                        <p>
                            @string.Format(Resources.Congress.ArticleManage, SessionParameters.CurrentCongress.Configuration.ArticleTitle)
                        </p>
                    </div>
                </a>

            }
            @if (SessionParameters.CurrentCongress.Configuration.HasBooth && (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CurrentCongress.Configuration.CanUserReserveBoothWithoutPaymentType))
            {
                <a href="@Url.Content("~/Congress/UserBoothPanel/IndexBooth")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.BoothRezerv">
                    <div class="d-item-bg">
                        <i class="fas fa-store"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/booth-reserve-128-main.png")" />
                        <p>
                            @Resources.Congress.BoothRezerv
                        </p>
                    </div>
                </a>
            }
            @if (SessionParameters.CurrentCongress.Configuration.RegisterGroupEnable)
            {
                <a href="@Url.Content("~/Congress/UserGroup/Index")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.RegisterGroup">
                    <div class="d-item-bg">
                        <i class="fas fa-users"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/group-register-main.png")" />
                        <p>
                            @Resources.Congress.RegisterGroup
                        </p>
                    </div>
                </a>
            }
            @if (SessionParameters.CurrentCongress.Configuration.HasFinancialOperation)
            {
                <a href="@Url.Content("~/Congress/UserPanel/UserTemps")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Payment.PaymentsBasket   (@ViewBag.tempcount)">
                    <div class="d-item-bg">
                        <i class="fas fa-shopping-cart"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/transaction-main.png")" />
                        <p>
                            @Resources.Payment.PaymentsBasket (@AppExtention.GetUserTempCount(SessionParameters.CongressUser.Id))
                        </p>
                    </div>
                </a>
                <a href="@Url.Content("~/Congress/UserPanel/TrackingOrders")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Payment.TrackingOrders )">
                    <div class="d-item-bg">
                        <i class="fas fa-hourglass-half"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/FinanceYear-main.png")" />
                        <p>
                            @Resources.Payment.TrackingOrders
                        </p>
                    </div>
                </a>
            }
            <a href="@Url.Content("~/Congress/UserPanel/EditInfoUser")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.UserEditProfile">
                <div class="d-item-bg">
                    <i class="fas fa-user-edit"></i>
                    <img src="@Url.Content("/Areas/Congress/Content/Images/edit-user-main.png")" />
                    <p>
                        @Resources.Congress.UserEditProfile
                    </p>
                </div>
            </a>
            <a href="@Url.Content("~/Congress/UserPanel/ChangePassword")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.ChangePassword">
                <div class="d-item-bg">
                    <i class="fas fa-unlock-alt"></i>
                    <img src="@Url.Content("/Areas/Congress/Content/Images/ChangePassword-main.png")" />
                    <p>
                        @Resources.Congress.ChangePassword
                    </p>
                </div>
            </a>
            @if (ViewBag.HasFile)
            {
                <a href="@Url.Content("~/Congress/UserPanel/UserFiles")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.DocumentsForDownload">
                    <div class="d-item-bg">
                        <i class="fas fa-download"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/doc-download-main.png")" />
                        <p>
                            @Resources.Congress.DocumentsForDownload
                        </p>
                    </div>
                </a>
            }

            @if (SessionParameters.CurrentCongress.Configuration.HasUserForms)
            {
                <a href="@Url.Content("~/Congress/UserPanel/UserForm")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Congress.UserForm">
                    <div class="d-item-bg">
                        <img src="@Url.Content("/Areas/Congress/Content/Images/user-form.png")" />
                        <p>
                            @Resources.Congress.UserForm
                        </p>
                    </div>
                </a>
            }


            @if (SessionParameters.CongressUser != null)
            {
                <a href="@Url.Content("~/Congress/UserPanel/Logout")" class="d-item d-item-fix-height hint--top" data-hint="@Resources.Security.Logout">
                    <div class="d-item-bg">
                        <i class="fas fa-sign-out-alt"></i>
                        <img src="@Url.Content("/Areas/Congress/Content/Images/exit-main.png")" />
                        <p>
                            @Resources.Security.Logout
                        </p>
                    </div>
                </a>
            }



        </div>
    </div>
</div>
