@using System.Security.Policy
@using Radyn.Web.Mvc
@using Radyn.WebApp.AppCode.Security
@using Stimulsoft.Report
@model Radyn.Security.Tools.LoginViewModel
@{
    ViewBag.Title = Resources.Security.Login;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@section Head{
    <script>
        if (window.location.pathname != undefined && window.location.pathname.toLowerCase() != "/congress/userpanel/login")
            window.location = "/Congress/UserPanel/Login";
    </script>
}
<link href="~/App_Themes/RadynBase/CSS/login-style.css" rel="stylesheet" />
<div class="container-hd">
    @*    <div class="container-header">*@
    @*        <div class="container-header-item">*@
    @*            @Resources.Security.Login*@
    @*        </div>*@
    @*    </div>*@
    <div class="container-box">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div align="center">
                <font color="red">@ViewBag.Message</font>
            </div>
            <div class="login-container-bg ">
                <div class="login-container">
                    <div class="login-header">
                        <p>@Resources.Common.LogIn @Resources.Congress.User</p>
                    </div>
                    <div class="login-main">
                        <span class="login-avatar">
                            <img src="/Content/Images/avatar-001.jpg" />
                        </span>
                        <div class="login-data-row input-effects">
                            <div class="login-data-row-item ">
                                @Html.TextBoxFor(m => m.Username, new {  placeholder = Resources.Congress.UserName,autocomplete ="off" })

                                <i class="far fa-envelope"></i>
                                @{Html.Radyn().Validator().ID("username").GroupName("g1").Render(); }

                            </div>
                        </div>

                        <div class="login-data-row input-effects">
                            <div class="login-data-row-item ">
                                @Html.PasswordFor(m => m.Password, new { placeholder = Resources.Security.UserPassword })
                                <i class="fas fa-key"></i>
                                @{ Html.Radyn().Validator().ID("password").GroupName("g1").Render(); }

                            </div>
                        </div>
                        @if (SessionParameters.HasLoginPasswordError)
                        {

                            <div class="login-data-row input-effects">
                                <div class="login-data-row-item">
                                    <div class="captcha-box">
                                        @{Html.Radyn().Captcha().NumberMode().Render();}
                                    </div>
                                    @Html.TextBoxFor(m => m.Captch, new {  placeholder = Resources.Congress.Captcha,maxlength="5" })
                                    <i class="fas fa-shield-alt"></i>
                                </div>
                            </div>
                        }
                        <div class="login-data-row">
                            <div class="login-data-row-item">
                                <div class="m-btn waves-yellow">
                                    @{Html.Radyn().ButtonActionLink().Submit().ValidationGroup("g1").ID("button-yellow").Text(Resources.Common.LogIn).Render(); }
                                </div>
                            </div>

                        </div>
                        <div class="login-data-row">
                            <div class="login-data-row-item">
                                <a href="@Url.Content("~/Congress/UserPanel/ForgotPassword")" class="login-solid-btn">
                                    @Resources.Security.ForgotPassword
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="new-account" style="display: none" href="/Congress/UserPanel/Subscribe">

                        @Resources.Security.NewAccount
                        <i class="fal fa-long-arrow-left"></i>
                    </a>

                </div>
            </div>

        }

    </div>
</div>
