@using Radyn.Web.Mvc;
@model Radyn.Congress.DataStructure.User

<script type="text/javascript">
    function CompleteUser() {

        var pathname = window.location.pathname; // Returns path only

        ShowPostBackLoader();
        $.post("@Url.Content("~/Congress/UserPanel/InsertWithEmail")", $('form[action="' + pathname + '"]').serialize(), function (data) {
            if (data != "false") {
                window.location = '@Url.Content("~/Congress/UserPanel/Home")';
            }
            RefreshCaptcha();
            ShowRadynMessage();
        }).complete(function () {
            HidePostBackLoader();
        });

    }
    $(document).ready(function () {
        ShowPostBackLoader();
        $("#DivItem").html("");
        $.get("@Url.Content("~/Congress/User/GetModify")", { Id: '@ViewBag.Id', ShowImage: false,date: new Date().getTime() }, function (data) {
            $("#DivItem").html(data).slideDown("slow");;
        }).complete(function () {
            HidePostBackLoader();
        });
    });
</script>
<div class="widget">
    <div class="container-box widget-content register-box">
        <span>@Resources.Congress.User @Resources.Common.New </span>
        @using (Html.BeginForm())
        {

            <div class="fit">
                @Html.ValidationSummary(true)
                <div>
                    <div id="DivItem"></div>
                    <div class="item-input">
                        <div class="table-row-cap">
                            <div class="item">
                                @Resources.Common.PleaseEnterTheText
                            </div>
                        </div>
                        <div class="table-row-item">
                            <div class="item">
                                <div class="captcha-box">
                                    @{Html.Radyn().Captcha().NumberMode().Render(); }
                                </div>
                                <input type="text" class="captcha" name="captch" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="item-input full_width">
                        <div class="login-data-row">
                            <div class="login-data-row-item" id="BtnSave">
                                <input type="button" value="@Resources.Common.Save" onclick="CompleteUser();">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
