@using Radyn.Web.Mvc
@using Radyn.WebApp.AppCode.Security
@{
    ViewBag.Title = Resources.Congress.Register;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@section Head
{
    <script type="text/javascript">
        function sendMail(email) {
            $.get("@Url.Content("/Congress/UserPanel/SendConfirmLink")", { mail: email, date: new Date().getTime() }, function (data) { ShowRadynMessage(); });
        }

    </script>
}
<div class="container-hd users-page">
    <div style="display: none" class="container-header">
        <div class="container-header-item">
            <span>
                @Resources.Congress.SignUp
            </span>
        </div>
    </div>
    @if (SessionParameters.CurrentCongress.Configuration.RegisterEmailConfirm)
    {
        using (Html.BeginForm())
        {
            <div class="container-box">
                <div class="login-container-bg">
                    <div class="login-container subscribe">
                        <div class="login-header">
                            <p>@Resources.Congress.Register</p>
                        </div>
                        <div class="login-main">
                            <span class="login-avatar">
                                <img src="/Content/Images/avatar-001.jpg" />
                            </span>
                            <div class="login-data-row input-effects">
                                <div class="login-data-row-item">
                                    <input type="text" name="name" autocomplete ="off"  placeholder="@Resources.Congress.Name" onclick="if (this.value == ' @Resources.Congress.Name') this.value = '';" onblur="if (this.value.trim() == '') this.value = ' @Resources.Congress.Name';" />
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                            <div class="login-data-row input-effects">
                                <div class="login-data-row-item">
                                    <input type="text" name="lastname" autocomplete ="off" placeholder="@Resources.EnterPriseNode.LastName" onclick="if (this.value == ' @Resources.EnterPriseNode.LastName') this.value = '';" onblur="if (this.value.trim() == '') this.value = ' @Resources.EnterPriseNode.LastName';" />
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                            <div class="login-data-row input-effects">
                                <div class="login-data-row-item">
                                    <input type="text" name="mail" autocomplete ="off" id="mail" placeholder="@Resources.Congress.Email" onclick="if (this.value == ' @Resources.Congress.Email') this.value = '';" onblur="if (this.value.trim() == '') this.value = ' @Resources.Congress.Email';" />
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                            <div class="login-data-row input-effects">
                                <div class="login-data-row-item">
                                    <div style="margin-@Resources.Design.InvertAlign: 1%;">
                                        <div class="captcha-box">
                                            @{ Html.Radyn().Captcha().NumberMode().Render(); }
                                        </div>
                                        <input type="text" name="captch" placeholder="@Resources.Congress.Captcha" onclick="if (this.value == '@Resources.Congress.Captcha') this.value = '';"
                                               onblur="if (this.value.trim() == '') this.value = '@Resources.Congress.Captcha';" />
                                        <i class="fas fa-shield-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="login-data-row">
                                <div class="login-data-row-item">
                                    <div class="m-btn waves-yellow">
                                        <input type="submit" value="@Resources.Congress.Register" id="btnSave" />
                                    </div>
                                </div>
                            </div>
                            <div class="login-data-row">
                                <div class="login-data-row-item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        }
    }
    else
    {
        Html.RenderAction("CompleteWithEmail", "UserPanel", new { area = "Congress" });
    }
</div>





