@using Radyn.Web.Mvc;
@model Radyn.Congress.DataStructure.Referee

<div class="radynForm">
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Congress.UserName
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.Username)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Common.Enable
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @(Model.Enabled ? @Resources.Common.Enable : @Resources.Common.Disable)
            </div>
        </div>
    </div>
    @{Html.RenderAction("GenerateEnterpriseNodeDetails", "EnterPriseNode", new { area = "EnterpriseNode", state = "Details", id = Model.Id, type = "r", ShowParent = false, ShowPicture = true });}
    @{
        Html.RenderAction("Refereepivots", "Referee", new { refreeId = Model.Id });
    }
</div>

