@using Radyn.Congress.Tools
@using Radyn.Web.Mvc;

@using Radyn.Utility
@model IEnumerable<Radyn.Congress.DataStructure.WorkShopUser>
    @{
        ViewBag.Title = Resources.Congress.YourRezervedWorkShops;
        Layout = "~/Areas/Congress/Views/Shared/CongressUserLayout.cshtml";
    }
    @section Head{}
    @section PageTitle
{
        @Resources.Congress.YourRezervedWorkShops
    }
    @section PageAction
{
        <div class="button-div m-btn waves-yellow i-add ">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/UserWorkShopPanel/CreateWorkShop")).Text(Resources.Congress.ReserveWorkShopNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }

        </div>
        <div class="button-div m-btn waves-red i-return ">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/UserPanel/Home")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </div>
    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-yellow i-add ">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/UserWorkShopPanel/CreateWorkShop")).Text(Resources.Congress.ReserveWorkShopNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }
        </div>
        <div class="button-div m-btn waves-red i-return ">
            @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Congress/UserPanel/Home")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </div>
    }
    <div class="grid-guid">
        <div class="grid-guid-title">
            @Resources.Common.Help
        </div>
        <ul>
            <li>
                <img src="/Content/Images/details.png">
                @Resources.Common.Detail
            </li>
            <li>
                <img src="/Content/Images/Delete-Close.png">
                @Resources.Common.Delete
            </li>
            <li>
                <img src="/Content/Images/edit.png">
                @Resources.Common.Edit
            </li>
        </ul>
    </div>
    <div class="radynForm">
        <div class="fit internal-grid">
            @if (Model.Any())
            {
                Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
                {
                    columns.Template(hotel => hotel.WorkShop.Subject).Title(Resources.Congress.WorkShop).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(hotel => hotel.WorkShop.Capacity).Title(Resources.Congress.Capacity).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(hotel => hotel.StatusDescription).Title(Resources.Congress.Status).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(workShop => string.Format("{0:n0}", workShop.WorkShop.ValidCost.ToDecimal()) + " " + workShop.WorkShop.CurrencyType.ToEnum<Radyn.Common.Definition.Enums.CurrencyType>().GetDescriptionInLocalization()).Title(Resources.Congress.Cost).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(hotelUser => "<a href='" + Url.Content("~/Congress/UserWorkShopPanel/DetailsWorkShop?WorkShopId=" + hotelUser.WorkShopId) + "'> <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "' src='" + Url.Content("~/Content/Images/details.png") + "' /></a> | " + "<a href='" + Url.Content("~/Congress/UserWorkShopPanel/EditWorkShop?WorkShopId=" + hotelUser.WorkShopId) + "'> <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' /></a> | " + "<a href='" + Url.Content("~/Congress/UserWorkShopPanel/DeleteWorkShop?WorkShopId=" + hotelUser.WorkShopId) + "'> <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' /></a>").Encode(false);
                })
                    //
                    .Sortable(sorting => sorting.Enabled(true))
                    .Pageable(paging => paging.Enabled(true))
                    .Filterable(filtering => filtering.Enabled(true))
                    //        .Footer(true)
                    .Render();
            }
            else
            {
                @Resources.Congress.YouNotRezervedWorkShops
            }
        </div>
    </div>

