@using Radyn.Congress.Tools
@using Radyn.Utility
@using Radyn.Web.Mvc
@using Radyn.Web.Mvc.Utility
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.Congress.Tools
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section Head{
    @{Html.Radyn().Theme("MainBase").Render();}
    @{Html.Radyn().Theme("HomaBase").Render(); }
    @{Html.Radyn().Theme("Common").Render();}

    @{Html.Radyn().Theme(SessionParameters.CurrentCongress != null && !string.IsNullOrEmpty(SessionParameters.CurrentCongress.Configuration.Theme) ? SessionParameters.CurrentCongress.Configuration.Theme : "Default").Render(); }
    @{
        if (SessionParameters.CurrentCongress != null && SessionParameters.CurrentCongress.Configuration != null && !string.IsNullOrEmpty(SessionParameters.CurrentCongress.Configuration.ThemeColorURL))
        {
            <link href="@SessionParameters.CurrentCongress.Configuration.ThemeColorURL" rel="stylesheet" />

        }
    }
    <link href="/App_Themes/HomaBase/CSS/@Resources.Design.HomaDirection" rel="stylesheet" />
    <link href="/App_Themes/HomaBase/CSS/Menu/@Resources.Design.SuperfishNavbar" rel="stylesheet" />
    <link href="/App_Themes/HomaBase/CSS/Menu/@Resources.Design.Superfish" rel="stylesheet" />
    <link href="/App_Themes/HomaBase/CSS/Menu/@Resources.Design.SuperfishVertical" rel="stylesheet" />



    <!-- Start----Runtime-->
    @{Html.HtmlEncoder(AppExtention.GetCongressResources(Enums.UseLayout.CongressRefereeLayout)); }
    <!-- END----Runtime-->
    <script>

        // initialise plugins
        jQuery(function () {
            jQuery('#example').superfish({
                //useClick: true
            });
            $("ul.sf-menu li").addClass("ui-state-default");

            $("ul.sf-menu li").hover(function () { $(this).addClass('ui-state-hover'); },
                function () { $(this).removeClass('ui-state-hover'); });
        });

    </script>
    <!--[if gte IE 9]
    <style type="text/css">
    .gradient {
    filter: none;
    }
    </style>
    <![endif]-->
    <script>
        $(document).ready(function () {

            $("[navbar='button']").click(function () {
                $("[navbar='navbar']").toggleClass("navbar-item-hide");

            });


        });


    </script>

    @RenderSection("Head")
}
@using (Html.BeginForm())
{

    <div class="ui-sheet ui-user ui-referee">
        <div class="ui-top-bar language-bar">
            <div>
                @{
                    Html.RenderAction("CultureBar", "CongressLanguage", new { area = "Congress" });
                }
            </div>
        </div>
        <div class="ui-header">
            @{ Html.RenderAction("GetHeader", "UIPanel", new { area = "Congress" }); }
        </div>
        <div class="ui-h-menu">
            @{ Html.RenderAction("GetMenuHorizontal", "UIPanel", new { area = "Congress" }); }

        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="topbar referee-box " style="float: @Resources.Design.InvertAlign">
                        <div class="referee-page">
                            <a class="d-item  user-d-item hint--bottom" data-hint="@Resources.Congress.RefereeCartable" href="@Url.Content("~/Congress/RefereePanel/RefereeCartablIndex")">
                                <div class="d-item-bg">
                                    <span class="title-row">
                                        @Resources.Congress.RefereeCartable
                                    </span>
                                    <i class="fas fa-home"></i>
                                    <img width="24" height="24" src="@Url.Content("~/Content/Images/Cartable-black.png")" />
                                </div>
                            </a>
                            <a class="d-item  user-d-item hint--bottom" data-hint="@Resources.Congress.ChangePassword" href="@Url.Content("~/Congress/RefereePanel/ChangePassword")">
                                <div class="d-item-bg">
                                    <span class="title-row">
                                        @Resources.Congress.ChangePassword
                                    </span>
                                    <i class="fas fa-unlock-alt"></i>
                                    <img src="@Url.Content("~/Content/Images/UserSecurity.png")" />
                                </div>
                            </a>
                            <a class="d-item  user-d-item hint--bottom" data-hint="@Resources.Security.Logout" href="@Url.Content("~/Congress/RefereePanel/Logout")">
                                <div class="d-item-bg">
                                    <span class="title-row">
                                        @Resources.Security.Logout
                                    </span>
                                    <i class="fas fa-sign-out-alt"></i>

                                </div>
                            </a>


                          

                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="big-pane fit">
                                    <div class="innerRL">
                                        <div class="page-caption">
                                            <span></span>
                                            <h2>
                                                @RenderSection("PageTitle", false)
                                            </h2>
                                        </div>

                                        <div class="c-widget">
                                            <div class="c-widget-head">
                                                <span></span>
                                                @RenderSection("PageAction", false)

                                            </div>
                                            <div class="c-widget-content">
                                                <div class="radynForm">

                                                    @if (this.Context.Items["radynHelp"] != null)
                                                    {
                                                        Html.HtmlEncoder(this.Context.Items["radynHelp"].ToString());
                                                    }

                                                    @RenderBody()
                                                </div>
                                            </div>
                                            <div class="c-widget-footer">
                                                <span></span>
                                                @RenderSection("PageActionDown", false)

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="ui-footer">
            @{ Html.RenderAction("GetFoter", "UIPanel", new { area = "Congress" }); }
        </div>
    </div>

}
