@using Radyn.Congress.Tools
@using Radyn.Utility
@using Radyn.Web.Mvc
@using Radyn.Web.Mvc.Utility
@using Radyn.WebApp.AppCode.Security
@using Radyn.WebApp.Areas.Congress.Tools
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section Head{

    @{Html.Radyn().Theme("HomaBase").Render(); }
    @{Html.Radyn().Theme("MainBase").Render(); }
    @{Html.Radyn().Theme("Common").Render();}

    @{Html.Radyn().Theme(SessionParameters.CurrentCongress != null && !string.IsNullOrEmpty(SessionParameters.CurrentCongress.Configuration.Theme) ? SessionParameters.CurrentCongress.Configuration.Theme : "Default").Render(); }
    @{
        if (SessionParameters.CurrentCongress != null && SessionParameters.CurrentCongress.Configuration != null && !string.IsNullOrEmpty(SessionParameters.CurrentCongress.Configuration.ThemeColorURL))
        {
            <link href="@SessionParameters.CurrentCongress.Configuration.ThemeColorURL" rel="stylesheet" />

        }
    }

    <link href="/App_Themes/HomaBase/CSS/@Resources.Design.HomaDirection" rel="stylesheet" />
    <link href="/App_Themes/HomaBase/CSS/Menu/@Resources.Design.SuperfishNavbar" rel="stylesheet" />
    <link href="/App_Themes/HomaBase/CSS/Menu/@Resources.Design.Superfish" rel="stylesheet" />
    <link href="/App_Themes/HomaBase/CSS/Menu/@Resources.Design.SuperfishVertical" rel="stylesheet" />


    <!-- Start----Runtime-->
    @{Html.HtmlEncoder(AppExtention.GetCongressResources(Enums.UseLayout.CongressUserLayout)); }
    <!-- END----Runtime-->


    <script>

        // initialise plugins
        jQuery(function () {
            jQuery('#example').superfish({
                //useClick: true
            });
            $("ul.sf-menu li").addClass("ui-state-default");

            $("ul.sf-menu li").hover(function () { $(this).addClass('ui-state-hover'); },
                function () { $(this).removeClass('ui-state-hover'); });
        });

    </script>
    <!--[if gte IE 9]
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
    <script>
        $(document).ready(function () {
            $("[navbar='button']").click(function () {
                $("[navbar='navbar']").toggleClass("navbar-item-hide");

            });
        });

    </script>
    @RenderSection("Head")
}
@using (Html.BeginForm())
{

    <div class="ui-sheet ui-user">
        <div class="ui-top-bar language-bar">
            <div>
                @{
                    Html.RenderAction("CultureBar", "CongressLanguage", new { area = "Congress" });
                }
            </div>
        </div>
        <div class="ui-header">
            @{ Html.RenderAction("GetHeader", "UIPanel", new { area = "Congress" }); }
        </div>
        <div class="ui-h-menu">
            @{ Html.RenderAction("GetMenuHorizontal", "UIPanel", new { area = "Congress" }); }
            <h3 class="congress-title" style="display: none">
                @SessionParameters.CurrentCongress.CongressTitle
            </h3>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="topbar ">
                        <a class="menu-btn" style="display: none">
                        </a>
                        <div style="width: 100%; margin: 0 auto;">
                            <a href="@Url.Content("~/Congress/UserPanel/Home")" class="d-item  user-d-item hint--bottom" data-hint="@Resources.Common.Home">
                                <div class="d-item-bg">
                                    <span class="title-row">
                                        @Resources.Common.Home
                                    </span>
                                    <i class="fas fa-home"></i>
                                    <img src="/Content/Images/Home.png" />
                                </div>
                            </a>
                            @{

                                var configuration = SessionParameters.CurrentCongress.Configuration;
                                if (SessionParameters.CongressUser != null)
                                {
                                    <a href="@Url.Content("~/Message/InternalMail/Index?userId=" + SessionParameters.CongressUser.Id)" class="d-item  user-d-item hint--bottom" data-hint="@Resources.Message.SMS">
                                        <div class="d-item-bg">
                                            <img src="/Areas/Congress/Content/Images/Int-email.png" />
                                            <span class="title-row">
                                                @Resources.Message.SMS
                                            </span>
                                            <i class="fas fa-envelope"></i>
                                            @if (ViewBag.UnreadInboxCount != null && ViewBag.UnreadInboxCount > 0)
                                            {
                                                <span class="r-badge">
                                                    <span class="r-badgewait">
                                                        @ViewBag.UnreadInboxCount
                                                    </span>
                                                </span>
                                            }
                                        </div>
                                    </a>
                                    if ((SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.Register || SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayDenial) && configuration.HasUserPayment)
                                    {
                                        <a href="@Url.Content("~/Congress/UserPanel/UserPayment")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.UserRegisterPayment">
                                            <div class="d-item-bg">
                                                <span class="title-row">
                                                    @Resources.Congress.UserRegisterPayment


                                                </span>
                                                <i class="fas fa-credit-card"></i>
                                                <img src="@Url.Content("/Areas/Congress/Content/Images/Payment1.png")" />
                                            </div>
                                        </a>
                                    }
                                    if ((SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.ConfirmPresentInHoma) && configuration.AllowUserPrintCard)
                                    {
                                        <a href="@Url.Content("~/Congress/ReportPanel/UserCard")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Common.List @Resources.Congress.Card">
                                            <div class="d-item-bg">
                                                <span class="title-row">
                                                    @Resources.Common.List @Resources.Congress.Card
                                                </span>
                                                <i class="fas fa-id-card"></i>

                                                <img src="@Url.Content("/Areas/Congress/Content/Images/id-card.png")" />
                                            </div>
                                        </a>
                                    }
                                    if (SessionParameters.CurrentCongress.Configuration.CanUserSelectChairs && SessionParameters.CongressUser.PaymentTypeId.HasValue)
                                    {
                                        <a href="@Url.Content("~/Congress/UserPanel/UserChair")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.SelectChair">
                                            <div class="d-item-bg">
                                                <span class="title-row">
                                                    @Resources.Congress.SelectChair
                                                </span>
                                                <i class="fas fa-couch"></i>
                                                <img src="@Url.Content("/Areas/Congress/Content/Images/chair.png")" />
                                            </div>
                                        </a>
                                    }
                                    if (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.ConfirmPresentInHoma && configuration.AllowUserPrintCertification)
                                    {
                                        <a href="@Url.Content("~/Congress/ReportPanel/UserCongressCertificte")" target="_blank" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.CongressCertificate">
                                            <div class="d-item-bg">
                                                <span class="title-row">
                                                    @Resources.Congress.CongressCertificate
                                                </span>
                                                <i class="fas fa-lock"></i>

                                                <img src="@Url.Content("/Areas/Congress/Content/Images/received.png")" />
                                            </div>
                                        </a>
                                    }
                                    if (configuration.HasHotel && (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CurrentCongress.Configuration.CanUserReserveHotelWithoutPaymentType))
                                    {
                                        <a href="@Url.Content("~/Congress/UserHotelPanel/IndexHotel")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.HotelReserve">
                                            <div class="d-item-bg">
                                                <span class="title-row">
                                                    @Resources.Congress.HotelReserve
                                                </span>
                                                <i class="fas fa-building"></i>
                                                <img src="@Url.Content("/Areas/Congress/Content/Images/Hotel1.png")" />
                                            </div>
                                        </a>
                                    }
                                    if (configuration.HasWorkShop && (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CurrentCongress.Configuration.CanUserReserveWorkShopWithoutPaymentType))
                                    {
                                        <a href="@Url.Content("~/Congress/UserWorkShopPanel/IndexWorkShop")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.WorkShopReserve">
                                            <div class="d-item-bg">
                                                <span class="title-row">
                                                    @Resources.Congress.WorkShopReserve
                                                </span>
                                                <i class="fas fa-store-alt"></i>
                                                <img src="@Url.Content("/Areas/Congress/Content/Images/WorkShop.png")" />
                                            </div>
                                        </a>
                                    }
                                    if (configuration.HasArticle && (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CurrentCongress.Configuration.CanUserSendArticleWithoutPaymentType))
                                    {
                                        <a href="@Url.Content("~/Congress/UserArticlePanel/IndexArticle")" class="d-item user-d-item hint--bottom" data-hint="@string.Format(Resources.Congress.ArticleManage, SessionParameters.CurrentCongress.Configuration.ArticleTitle)">
                                            <div class="d-item-bg">
                                                <span class="title-row">
                                                    @string.Format(Resources.Congress.ArticleManage, SessionParameters.CurrentCongress.Configuration.ArticleTitle)
                                                </span>
                                                <i class="fas fa-paper-plane"></i>
                                                <img src="@Url.Content("/Areas/Congress/Content/Images/ArticlesUp.png")" />
                                            </div>
                                        </a>
                                    }
                                    if (configuration.HasBooth && (SessionParameters.CongressUser.Status == (byte)Enums.UserStatus.PayConfirm || SessionParameters.CurrentCongress.Configuration.CanUserReserveBoothWithoutPaymentType))
                                    {
                                        <a href="@Url.Content("~/Congress/UserBoothPanel/IndexBooth")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.BoothRezerv">
                                            <div class="d-item-bg">
                                                <span class="title-row">
                                                    @Resources.Congress.BoothRezerv
                                                </span>
                                                <i class="fas fa-store"></i>
                                                <img src="@Url.Content("/Areas/Congress/Content/Images/booth-reserve-128.png")" />
                                            </div>
                                        </a>
                                    }


                                    if (configuration.RegisterGroupEnable)
                                    {
                                        <a href="@Url.Content("~/Congress/UserGroup/Index")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.RegisterGroup">
                                            <div class="d-item-bg">
                                                <span class="title-row">
                                                    @Resources.Congress.RegisterGroup
                                                </span>
                                                <i class="fas fa-users"></i>
                                                <img src="@Url.Content("/Areas/Congress/Content/Images/group-register.png")" />
                                            </div>
                                        </a>
                                    }
                                    <a href="@Url.Content("~/Congress/UserPanel/UserTemps")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Payment.Transactions @AppExtention.GetUserTempCount(SessionParameters.CongressUser.Id)">
                                        <div class="d-item-bg">
                                            <span class="title-row">
                                                @Resources.Payment.Transactions
                                            </span>
                                            <i class="fas fa-paste"></i>
                                            <img src="@Url.Content("/Areas/Congress/Content/Images/transaction.png")" />

                                        </div>
                                    </a>
                                    <a href="@Url.Content("~/Congress/UserPanel/TrackingOrders")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Payment.TrackingOrders )">
                                        <div class="d-item-bg">
                                            <span class="title-row">
                                                @Resources.Payment.TrackingOrders
                                            </span>
                                            <i class="fas fa-hourglass-half"></i>
                                            <img src="@Url.Content("/Areas/Congress/Content/Images/FinanceYear.png")" />

                                        </div>
                                    </a>
                                }
                            }

                            <a href="@Url.Content("~/Congress/UserPanel/EditInfoUser")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.UserEditProfile">
                                <div class="d-item-bg">
                                    <span class="title-row">
                                        @Resources.Congress.UserEditProfile
                                    </span>
                                    <i class="fas fa-user-edit"></i>
                                    <img src="@Url.Content("/Areas/Congress/Content/Images/edit-user.png")" />
                                </div>
                            </a>
                            <a href="@Url.Content("~/Congress/UserPanel/ChangePassword")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.ChangePassword">
                                <div class="d-item-bg">
                                    <span class="title-row">
                                        @Resources.Congress.ChangePassword
                                    </span>
                                    <i class="fas fa-unlock-alt"></i>
                                    <img src="@Url.Content("/Areas/Congress/Content/Images/ChangePassword.png")" />
                                </div>
                            </a>
                            @if (AppExtention.HasUserFile)
                            {
                                <a href="@Url.Content("~/Congress/UserPanel/UserFiles")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.DocumentsForDownload">
                                    <div class="d-item-bg">
                                        <span class="title-row">
                                            @Resources.Congress.DocumentsForDownload
                                        </span>
                                        <i class="fas fa-download"></i>
                                        <img src="@Url.Content("/Areas/Congress/Content/Images/doc-download.png")" />
                                    </div>
                                </a>
                            }
                            @if (configuration.HasUserForms)
                            {
                                <a href="@Url.Content("~/Congress/UserPanel/UserForm")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Congress.UserForm">
                                    <div class="d-item-bg">
                                        <span>
                                            @Resources.Congress.UserForm
                                        </span>

                                        <img src="@Url.Content("/Areas/Congress/Content/Images/user-form-black.png")" />
                                    </div>
                                </a>
                            }

                            @if (SessionParameters.CongressUser != null)
                            {
                                <a href="@Url.Content("~/Congress/UserPanel/Logout")" class="d-item user-d-item hint--bottom" data-hint="@Resources.Security.Logout">
                                    <div class="d-item-bg">
                                        <span class="title-row">
                                            @Resources.Security.Logout
                                        </span>
                                        <i class="fas fa-sign-out-alt"></i>
                                        <img src="@Url.Content("~/Content/Images/exit.png")" />
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="big-pane fit">
                        <div class="innerRL">
                            <div class="page-caption">
                                <span></span>
                                <h2>
                                    @RenderSection("PageTitle", false)
                                </h2>
                            </div>
                            <div class="c-widget">
                                <div class="c-widget-head">
                                    <span></span>
                                    @RenderSection("PageAction", false)

                                </div>
                                <div class="c-widget-content">

                                    @if (this.Context.Items["radynHelp"] != null)
                                    {
                                        Html.HtmlEncoder(this.Context.Items["radynHelp"].ToString());
                                    }

                                    @RenderBody()
                                    @{Html.Radyn().Message().Render(); }
                                </div>
                                <div class="c-widget-footer">
                                    <span></span>
                                    @RenderSection("PageActionDown", false)
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="ui-footer">
            @{ Html.RenderAction("GetFoter", "UIPanel", new { area = "Congress" }); }
        </div>
    </div>

}
